/* ======================================================
   HEADER: SEARCH
   ======================================================*/
// @OPTIMIZE: Legacy code - denote that it's legacy or look into removing it
.form-search {
  display: none;
  @include rem(padding-top,30);
  @include rem(margin-bottom,30);

  .field {

  }

  .lbl-search {
    @extend .visuallyhidden;
  }

  .f-search {
    width: 100%;
  }

  .action {
    display: none;
  }

}//form-search
