// SITE SECTIONS
// Excluded from Alpha
// @TODO: This needs a better class name
// @TODO: This *could* be separated out into two modules; services and departments
// @TODO: This Looks overly nested, look at refactoring it down
.site-sections {
  color: $grey;
  @include rem(padding-top,24);
  //border-bottom: 1px solid $grey-darker;
  @extend %cf;
  @include rem(margin-bottom,32);

  a {
    color: $white;
    @include hover-link;
  }

  .nav {
    @extend %cf;
  }

  .nav-title {
    @include font-size($h3-font-size);
    color: $grey;
    @include rem(margin-top,8);
    @include rem(margin-bottom,8);

  }

  // @TODO: Refactor as .list-links?
  .lnk-list {
    @include rem(margin-bottom,6);
  }

  .lnk-list li {
    @include font-size($small-font-size);
    @include rem(margin-bottom,8);
  }

  @media all and (min-width: 321px) {

    .nav-services {

      .lnk-list li {
        width: 50%;
        float: left;
      }

    }

    .nav-departments {

    }

  }

}
