<header role="banner" id="header">
        <div class="row-fluid">
            <a id="skip-to-content" href="#main-content" tabindex="1"> <span>Skip to Content</span> 
            </a>
        </div>
        <div id="header__inner" class="row-fluid">
            <div id="logo">
                <p> <a href="http://www.bristol.gov.uk" title="Go to Liferay homepage"> Liferay </a> </p> 
            </div>
            <div id="nav">
                <p class=""> <a href="/issues">Issues </a> /  <a href="/boilerplate">Boilerplate </a> 
                </p>
            </div>
            <!-- START .account -->
            <div class="myaccount">
                <div class="myaccount_links"> <a id="myaccount__sign-in" data-redirect="true" href="http://localhost:8080/c/portal/login?p_l_id=11318" rel="nofollow">Sign&nbsp;in</a> &nbsp;<span class="pipe"></span>&nbsp; <a id="myaccount__create-an-account" href="/create-account">Create&nbsp;an&nbsp;account</a> 
                </div>
            </div>
            <!-- END .account -->
        </div>
    </header>