// BOOTSTRAP

// Links
// -------------------------
// $linkColor: #274d8b;
// $linkColorHover: lighten($linkColor, 15%);

// Typography
// -------------------------
 $sansFontFamily: "Thesans-Semi-Light", "Helvetica Neue", Arial, sans-serif;
 $serifFontFamily: Georgia, "Times New Roman", Times, serif !default;
 $monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace !default;

// $baseFontSize: 16px;
// $baseLineHeight: 22px;
// $altFontFamily: $serifFontFamily !default;

 $headingsFontFamily: "Thesans-Bold", "Helvetica Neue", Arial, sans-serif;
 $headingsFontWeight: normal;

// Forms
// -------------------------
// $inputBackground: #eaeaea;
// $inputBorderRadius: 3px;

// Wells
// -------------------------
// $wellBackground: #f5f5f5 !default;

// Form states and alerts
// -------------------------

// $errorText: #ea0000;
// $successText: #3bb273;
