<div class="thisorthat">
	<div class="thisorthat__child thisorthat__this">
		<div class="newcta-group">
			<a class="newcta newcta--primary newcta--icon newcta--next newcta-group__firstly" href="">
				Make&nbsp;a&nbsp;complaint
			</a>
			<small class="light newcta-group__secondly">
				Lorem ipsum dolor set elit nullum vitae.
			</small>
		</div>
	</div>
	<div class="thisorthat__child thisorthat__that">
		<div class="newcta-group">
			<a class="newcta newcta--primary newcta--icon newcta--next newcta-group__firstly" href="">
				Give&nbsp;feedback
			</a>
			<small class="light newcta-group__secondly">
				Lorem ipsum dolor set elit nullum vitae.
			</small>
		</div>
	</div>
</div>