{% block page %}

  {% assign page_title = 'Sign in - Forgotten your password' %}
  {% assign ribbon = 'ico-user' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-header">

            <h1 class="content-header__title">Forgotten your password</h1>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-main">

            <form id="form-3" class="form form--validate" action="#form-3" method="post">

              <div class="form__section">

                <div class="form__item form__item--string">
                  <label class="form__label" for="ff-text-validate-4">Enter your registered email address</label>
                  <input class="form__field form__field--string" type="text" name="" placeholder="" id="ff-text-validate-4" data-error-message="Please enter a valid email address" pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
                </div><!--/form__item-->

                <div class="form__actions">
                  <button class="btn btn--primary" type="submit" name="">Send reset instructions <span class="ico ico-right"></span></button>
                </div><!--/form__actions-->

              </div>

            </form>

          </div><!--/content-->


        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}