{% block page %}

  {% assign page_title = 'Sign in - Reset your password' %}
  {% assign ribbon = 'ico-user' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-header">

            <h1 class="content-header__title">Reset your password</h1>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-main">

            <form id="form-3" class="form js-validation" action="#form-3" method="post">

              <div class="form__section">

                <div class="form__item form__item--string">
                  <label for="ff-text-password" class="form__label">Password</label>
                  <input type="password" id="ff-text-password" placeholder="" name="" class="form__field form__field--string">
                </div><!--/form__item-->

                <div class="form__item form__item--string">
                  <label for="ff-text-password-confirm" class="form__label">Confirm Password</label>
                  <input type="password" data-error-message="This password must match the above password" data-match="ff-text-password" id="ff-text-password-confirm" placeholder="" name="" class="form__field form__field--string form__field--match">
                  <span class="form__note">Must match above password</span>
                </div><!--/form__item-->

                <div class="form__actions">
                  <button class="btn btn--primary" type="submit" name="">Save password <span class="ico ico-right"></span></button>
                </div><!--/form__actions-->

              </div>

            </form>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
