<div class="wr__dropdown">
	<select class="form__field form__field--select">
		<option value="">Jump to…</option>

		<option value="#panels-panel">Panel</option>
		<option value="#panels-panel-affirm">Panel Affirm</option>
		<option value="#panels-panel-affirm-date">Panel Affirm Date</option>
		<option value="#panels-panel-affirm-extra">Panel Affirm Extra</option>
		<option value="#panels-panel-1of2">Panel 1of2</option>
		<option value="#panels-panel-feedback">Panel Feedback</option>
		<option value="#panels-panel-errors">Panel Errors</option>
		<option value="#panels-panel-warning">Panel Warning</option>

		<option value="#panels-slab">Slab</option>
		<option value="#panels-slab-primary">Slab Primary</option>
		<option value="#panels-slab-outline">Slab Outline</option>
		<option value="#panels-slab-white-outline">Slab White Outline</option>
		<option value="#panels-slab-additional">Slab Additional</option>

		<option value="#panels-alert-warning">Alert Warning</option>
		<option value="#panels-alert-error">Alert Error</option>
		
	</select>
</div>

<h1 class="pl__title">
	Panels <small class="light">Olde</small>
</h1>
<hr class="pl__rule" />




{{> patterns-custom/oldpanels/panel }}
{{> patterns-custom/oldpanels/panel_affirm }}
{{> patterns-custom/oldpanels/panel_affirm_date }}
{{> patterns-custom/oldpanels/panel_affirm_extra }}
{{> patterns-custom/oldpanels/panel_1of2 }}
{{> patterns-custom/oldpanels/panel_feedback }}
{{> patterns-custom/oldpanels/panel_errors }}
{{> patterns-custom/oldpanels/panel_warning }}


{{> patterns-custom/oldpanels/slab }}
{{> patterns-custom/oldpanels/slab_primary }}
{{> patterns-custom/oldpanels/slab_outline }}
{{> patterns-custom/oldpanels/slab_white_outline }}
{{> patterns-custom/oldpanels/slab_additional }}

{{> patterns-custom/oldpanels/alert_warning }}
{{> patterns-custom/oldpanels/alert_error }}



