<div class="pattern" id="panels-panel">

	{{#with tags.oldpanels.panel }}

		{{> tags/components/title}}
		
		<div class="pattern__block">
			{{> tags/oldpanels/panel}}
		</div>
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="panel"&gt;
	&lt;div class="panel__title"&gt;
	    This is a panel
	&lt;/div&gt; 
	&lt;div class="panel__copy"&gt; 
		&lt;p&gt; 
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ex veritatis sit eos, id iure, qui.
		&lt;/p&gt; 
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</div>

  	{{/with}}
</div>