<div class="pattern" id="panels-panel-affirm">

	{{# tags.oldpanels.affirm }}
	
		{{> tags/components/title}}
		
		{{> tags/oldpanels/panel_affirm }}
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="panel panel--affirm"&gt;
	&lt;div class="panel__title"&gt;
	    This is a panel
	&lt;/div&gt; 
	&lt;div class="panel__copy"&gt; 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ex veritatis sit eos, id iure, qui.
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>

	{{/ tags.oldpanels.affirm }}
</div>