<!-- Add classes across PL -->

<h1 class="pl__title">
	Home
</h1>
<hr class="pl__rule" />

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto recusandae optio ipsam natus vitae necessitatibus eum consequatur nostrum culpa ut dolorum voluptas maxime quaerat id, nobis molestias dolore, veniam fuga animi, ipsum suscipit nisi ipsa minima. Enim, nesciunt blanditiis quo earum saepe autem id error in omnis incidunt ex nulla temporibus dolorum maiores veniam ipsam sint odit, praesentium nam, nostrum est soluta provident quos.
</p>