{% block page %}

  {% assign page_title = 'Activated account | Create account' %}
  {% assign ribbon = 'ico-user' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-two-thirds">

          <div class="content content-header">

            <h1 class="content-header__title">Text explaining that the user now has an account</h1>

          </div><!--/content-->


          <div class="content content-main">

           <div class="panel">
             <h2 class="panel__title">Now activate your account...</h2>
             <div class="panel__copy">
              <p>
                Here will go some text explaining that the user's account has been created, but must be activated by checking their email before they will be able to use their account.
              </p>
            </div>

           </div>

           <div class="page__actions">
              <button type="submit" class="btn btn--primary">Login</button>
            </div>

          </div><!--/content-->

        </div><!--/grid-col-->
        <div class="grid-col grid-desktop-one-third">
          <!--sidebar content-->
        </div><!--/grid-col-->


      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
