/* ======================================================
   LAYOUT
   ======================================================*/

// LAYOUT

.layout {
  margin: 0 auto;
  @extend %cf;
}

.layout-constrained {
  max-width: $max-width;
  @include rem(padding,0 10);
}

// GRIDS

// Fractions
// @TODO Add notes on how this works here
$grid-columns:  full-width      1,
                one-half        1/2,
                one-third       1/3,
                two-thirds      2/3,
                one-quarter     1/4,
                two-quarters    2/4,
                three-quarters  3/4,
                four-quarters   4/4,
                one-fifth       1/5,
                two-fifths      2/5,
                three-fifths    3/5,
                four-fifths     4/5,
                one-sixth       1/6,
                two-sixths      2/6,
                five-sixths     5/6,
                one-seventh     1/7,
                two-sevenths    2/7,
                one-ninth       1/9,
                three-ninths    3/9,
                four-ninths     4/9,
                five-ninths     5/9,
                eight-ninths    8/9,
                one-tenth       1/10,
                nine-tenths     9/10,
                one-twelfth     1/12,
                three-twelfths  3/12,
                five-twelfths   5/12,
                seven-twelfths  7/12,
                eleven-twelfths 11/12,
                five-eightenths 5/18,
                five-thirty-sixths 5/36; // @TODO Explain why this has been added

@include grids-init("grid");

@include respond-min($bp-tablet-min) {
  @include grids-init("tablet-grid");
}

@include respond-min($bp-desktop-min) {
  @include grids-init("desktop-grid");
}
