// CORE: FORMS

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

// Fix for <select> not honouring max-width
// http://codepen.io/iamkeir/pen/bsCru
// http://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content
fieldset { min-width: 0; }
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

// Fix for legends appearing partially outside fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content
legend {
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
  clear: both;
}

// Why was this part of core?
// label {
//   cursor: pointer;
// }