/* ======================================================
   HEADER
   ======================================================*/

.page-header {
  background: $white;
  border-top: 3px solid $bcc-red;
  @include font-size($small-font-size);
  position: relative;
  z-index: 10;
  @include box-shadow(rgba($black, 0.15) 0 0 0 8px);
  @include rem(min-height,94);
}
.page-header__logo {
  @include rem(max-width,48);
  @include rem(margin, 19 0);
  @include inline-block;
  position: absolute;
  top: 0;
  @include rem(left,10);

  @include respond-min($bp-tablet-min) {
    @include rem(max-width,80);
  }
}
