
.lead {

}

// h1 - h6
// @TODO: Consider whether these styles always apply and adjust accordingly
#{headings()} {
  @include rem(margin-top,16);
  @include rem(margin-bottom,3);
  color: #2e3137;
  font-family: $font-bold;
  font-weight: normal;
}

/* Define headings and their associated classes here. */
h1, .alpha{
    @include font-size($h1-font-size);
}
h2, .beta{
    @include font-size($h2-font-size);
    //line-height:1;      /* 24px */
}
h3, .gamma{
    @include font-size($h3-font-size);
    //line-height:1.2;    /* 24px */
}
h4, .delta{
    @include font-size($h4-font-size);
    //line-height:1.333;  /* 24px */
}
h5, .epsilon{
    @include font-size($h5-font-size);
    //line-height:1.5;    /* 24px */
}
h6, .zeta{
    @include font-size($h6-font-size);
    //line-height:1.5;    /* 24px */
}

.natural{
    @include font-size($body-font-size);
    //line-height:1.5;    /* 24px */
}

/* Smaller-than-body-copy sizes here. */
small, .smallprint {
    @include font-size($small-print-font-size);
    //line-height:2;      /* 24px */
}

.midprint {
  @include font-size($small-font-size);
}

// Ditch top margin on headings that are direct first-child of content
// This *should* then only target content-based headings...
// @OPTIMIZE: Consider if there is a more readable way of doing this, such as adding a class that removes the margin
.content {
  > {
    #{headings()} {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
