/* ======================================================
   FOOTER
   ======================================================*/

.page-footer {
  @include font-size($small-font-size);
  .layout-constrained {
    border-top: 8px solid $bcc-red;
  }

  a {
    color: $white;
    @include hover-link;
  }

}

.legal-nav {
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $grey;

  @include respond-min($bp-tablet-min) {
    //@include font-size($body-font-size);
    padding-bottom: 0;
    border-bottom: none;
  }

  @include respond-min($bp-desktop-min) {
    margin: 3em 0;
  }

  .linklist {

    li {
      margin: 0.3em 0;

      @include respond-min($bp-desktop-min) {
        @include inline-block;
        margin: 0;
        line-height: 1.2;
        margin-right: 10px;
        border-left: 1px solid $white;
        padding-left: 10px;
      }

      &:first-child {
        border: 0;
        padding-left: 0;
      }

    }

  }

}

// LOGOS
.logo-nav {
  margin-bottom: 1em;

  @include respond-min($bp-tablet-min) {
    margin-top: 1em;
    text-align: right;
  }

  .linklist {
    @extend %cf;

    li {

      &.logo-gov-uk {
        margin: 28px 0;
        float: left;

        @include respond-min($bp-tablet-min) {
          float: none;
          margin-top: 0;
        }

        @include respond-min($bp-desktop-min) {
          margin-top: 25px;
          float: left;
        }

      }

      &.logo-bcc {
        float: right;

        @include respond-min($bp-tablet-min) {
          float: none;
        }

        @include respond-min($bp-desktop-min) {
          float: right;
        }

      }

    }

    a {
      @include inline-block;
    }

  }

}
