/* ======================================================
   BODY
   ======================================================*/
// @TODO: Consider refactoring the file structure so that global/body/layout are normalised

.page-body {
  background: $white;
  @extend %cf;
}

.page-content {
  @include rem(padding-top,30);
  @include rem(margin-bottom,35);
}

.content {
  //margin-bottom: 1.5em;
}

.content-header {

}

.content-header__title {
  @include rem(margin-bottom,6);
}

.content-header__title-extra {
  font-style: normal;
  color: $bcc-red;
}

.content-header__byline {
  color: $grey-9;
  @include font-size($h3-font-size);
  @include rem(margin-top,-16);
}

.content-main {

}

.content-sub {

}

// @OPTIMIZE Is there a better way of achieving this?
.content--iag {
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & > p, & > ul {
    @include rem(max-width,610);
  }
}
