/* ======================================================
   BANNER
   ======================================================*/

// @TODO: Refactor structure - breadcrumb, ribbon and account as separate modules?

.page-banner {
  background: $dark-grey;
  @include box-shadow(rgba($bcc-grey-dark, 0.15) 0 0 0 8px);
  color: $grey-lighter;
  @include font-size($small-font-size);
}

.ribbon {
  display: none;
}

@include respond-min($bp-desktop-min) {

  .ribbon {
    display: block;
    position: relative;
    max-width: 78px;
    min-height: 1px; // Force div to take up space of column
  }

  .ribbon__hang {
    width: 100%;
    height: 155px;
    background: $bcc-red;
    position: absolute;
    top: 0;
    left: 0;
    .ribbon__hang__inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .ico {
      color: #fff;
      font-size: 4em;
      display: block;

      position: absolute;
      left: 12%;
      bottom: 20px;
      margin: 0;
    }
  }

}

%page-banner__nav {
  padding: 0.6em 0;
  color: $grey-lighter;

  a {
    color: $link-alt;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  .linklist {

    li {
      padding: 0.1em 0;
      @include inline-block;
    }

    .ico {
      @include font-size(12);
    }

  }

}

// Breadcrumb
.breadcrumb-nav {
  @extend %page-banner__nav;

  @include respond-min($bp-tablet-min) {
    float: left;
  }

}

// Account
.account-nav {
  @extend %page-banner__nav;
  border-top: 2px solid $grey-9;

  @include respond-min($bp-tablet-min) {
    border-top: 0;
    float: right;
  }

  .linklist {

    li {

      display: block;

      @include respond-min($bp-tablet-min) {
        & {
          @include inline-block;
          margin-right: 11px;
          border-left: 2px solid $grey-9;
          padding-left: 12px;
        }

      }



    }

    a {
      color: $link-alt;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      .ico {
        color: $link-alt;
        @include rem(margin-left,-5);
        @include rem(margin-right,3);
        text-decoration: none;
        float: left;
        @include line-height(21);
      }
    }

    .lnk-sign-out {
      margin-left: 5px;
      @include font-size($small-print-font-size);
    }

  }

}
