/* ======================================================
   GLOBAL
   ======================================================*/
// @OPTIMIZE: Work out what parts of this should be pulled out in to the normalize

body {
  @include font-size($body-font-size);
  color: $copy;
  background: $body-bg;
  line-height: $body-line-height;
}

body,
button,
input,
textarea {
  font-family: $font-regular;
}

select {
  font-family: $font-select;
}

a {
  color: $link;

  .no-touch &:hover {
    text-decoration: none;
  }

  &:focus {
    font-family: $font-bold !important;
    text-decoration: none !important;
  }

}

code {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

p, dt, dd {
  @include rem(margin, 0 0 16);
}

strong, b, dt, legend {
  font-family: $font-bold;
  font-weight: normal;
}

li {
  @include rem(margin, 8 0);
}

ul, ol {
  // @TODO: refactor this to Rems
  margin: 1.4em 0;
  padding-left: 1.2em;

  ul, ol {
    margin: 0.5em 0 1em;
  }

}

ul {
  list-style: none;
  @include rem(padding-left,20);
  li {
    position: relative;
    &:before {
      content: '\2022  ';
      font-family: Arial, sans-serif;
      @include font-size($h3-font-size);
      position: absolute;
      @include rem(left,-20);
      @include rem(top,-7);
    }
  }
}


dl {


}

dt, dd {}

table {

}

table td,
table th {
  @include rem(padding,10 20);
  text-align: center;
}

.normal-list-item {
  position: static;
  &:before {
    content: '';

  }
}

.no-generatedcontent ul {
  list-style: disc;
  li {
    position: static;
  }
}


// Helpers

.quiet {
  &, #{headings()} {
    color: $quiet-body-color !important;
  }
}

.divider-top {
  // @TODO: How can rem have importants?
  padding-top: 40px !important;
  border-top: 1px solid $grey-boxout !important;
}

.divider-bottom {
  padding-bottom: 25px !important;
  margin-bottom: 40px;
  border-bottom: 2px solid $grey-boxout !important;
}

.level {
  width: 100%;
}

.level .text-right {
  text-align: right;
  float: right;
}
.level .text-left {
  text-align: left;
  float: left;
}

