// Buttons

button,
.btn {
  background: $button-bg-primary;
  color: $white;
  font-family: $font-bold;
  text-decoration: none;
  border: 0;
  padding: 0;
  @include border-radius(3px);
  @include rem(margin-bottom,20);
  @include rem(padding,14 20 10 20);
  @include line-height(24);
  @include inline-block;
  @include box-shadow($button-shadow-primary 0 2px 0 0);
  & + .btn,
  & + button {
    @include rem(margin-left,10);
  }

  &:hover {
    background: $button-bg-primary-hov;
  }

  &:active {
    position: relative;
    top: 1px;
    @include box-shadow($button-shadow-primary 0 1px 0 0);
  }

  &:focus {
    outline: 3px solid #2E3137;
    box-shadow: none;
  }

  .ie7 &:focus {
    border: 3px solid #2E3137;
  }

  @include respond-min($bp-tablet-min) {
    @include font-size($primary-btn-font-size);
  }
}

.btn--primary {
  position: relative;
  @include rem(padding-right,40);
  &:after {
    @include font-size(18);
    @extend %ico;
    opacity: 0.6;
    font-family: 'bcc';
    position: absolute;
    @include rem(right,15);
    @include rem(top,15);
    content: "\e605";
  }
}

.btn--secondary {
  @include respond-min($bp-tablet-min) {
    @include font-size($secondary-btn-font-size);
  }
  background: $button-bg-secondary;
  @include box-shadow($button-shadow-secondary 0 2px 0 0);
  &:hover {
    background: $button-bg-secondary-hov;
  }
  &:active {
    @include box-shadow($button-shadow-secondary 0 1px 0 0);
  }
}

button[disabled], .btn--disabled {
  background: $grey-boxout;
  color: $dark-grey;
  cursor: default;
  pointer-events: none;
  @include box-shadow($button-shadow-disabled 0 2px 0 0);
  &:hover {
    background: $grey-boxout;
    color: $dark-grey;
  }
  &:active {
    top: 0;
    @include box-shadow($button-shadow-disabled 0 2px 0 0);
  }
}

.btn--small {
  @include rem(padding-top,10);
  @include rem(padding-bottom,6);
  &:after {
    @include rem(top,11);
  }
}
