{% block page %}

  {% assign page_title = 'Sign in or create an account | Sign in' %}
  {% assign ribbon = 'ico-user' %}
  {% assign signed_in = false %}
  {% assign hide_breadcrumbs = true %}
  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-full-width">

          <div class="content content-header">

            <h1 class="content-header__title">Sign in or create an account</h1>

          </div><!--/content-->


          <div class="content content-main">


            <div class="grid-wrap panel-group-cta panel-group-cta--align-top">

              <div class="grid-col desktop-grid-four-ninths">
                {% include 'modules/panel--create' %}
              </div>

              <div class="grid-col desktop-grid-one-ninth">
                <div class="panel panel--or">
                  <div class="panel__inner">
                    <div class="panel__vertical-centre">
                      or
                    </div>
                  </div>
                </div>
              </div>

              <div class="grid-col desktop-grid-four-ninths">
                {% include 'modules/panel--sign-in' %}
              </div>

            </div>


          </div><!--/content-->

        </div><!--/grid-col-->





      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
