                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div class="bcc-footer" role="contentinfo">
        <div class="bcc-footer__inner">
            <div class="bcc-footer__menu bcc-footer__menu--left">
                <ul>
                    <li>
                        <a href="https://www.bristol.gov.uk/complaints" title="Complaints and feedback">Complaints and feedback</a>
                    </li>
                    <li>
                        <a href="https://www.bristol.gov.uk/cookies" title="Cookies">Cookies</a>
                    </li>
                    <li>
                        <a href="https://www.bristol.gov.uk/privacy" title="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="bcc-footer__menu bcc-footer__menu--right">
                <ul>
                    <li>
                        <a href="https://www.bristol.gov.uk/contact" title="Contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://www.bristol.gov.uk/copyright" title="Copyright">Copyright</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        var ie7 = false;
    </script>
    <!--[if IE 7]> <script>ie7=true;</script> <![endif]-->
  <!--   <script src="/bcc-beta-theme/dev.js"></script>
    <script src="/bcc-beta-theme/js/main.js"></script> -->
   
    <script src="/bcc-beta-theme/js/main.pack.js"></script>
    <script>
    // you can register settings like this before require.js is loaded
    
    </script>
</body>

</html>