<!doctype html>
<html class="no-js aui bcc-aui" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Development Environment</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Uniform.js/2.1.2/jquery.uniform.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
	<link rel="stylesheet" href="/bcc-beta-theme/css/base.css">
	<link rel="stylesheet" href="/bcc-beta-theme/css/aui.css">
	<link rel="stylesheet" href="/css/anti-aui.css">
	<link rel="stylesheet" href="/css/custom.css">
	<script>ga=function(){};</script>
</head>

<body>
	<div class="wr__mobnav">
    	<div class="mini-logo">
			<a href="/">
				<img src="/images/logo-bcc-white.png" alt="">
			</a>
		</div>
		<div class="nav-launch"></div>
	</div>
    <div class="wr__header">
    	<div class="wr__logo">
			<a href="/">
				<img src="/images/logo-bcc.png" alt="">
			</a>
		</div>

    	<div class="wr__nav">
    		<div class="wr__group">
	    		
				<ul>
					<li>
				        <a href="/">
				            Home
				        </a>
				    </li>

			  
				</ul>
			</div>

			

			<div class="wr__group">
				<header>
	    			<span>Navigation</span>
	    		</header>
				<ul>
				    <!-- Optional / Configurable -->
				    <li>
				        <a href="/patterns">
				            Common
				        </a>
				    </li>
				    <li>
				        <a href="/custom/patterns">
				            Custom
				        </a>
				    </li>
				    <li>
				        <a href="/documentation">
				            Documentation
				        </a>
				    </li>
				    
				</ul>
			</div>
			

			
			<br>
			<br>
			<br>

		</div>
	</div>

    <div class="wr__page-content">
  
 
 