{% block page %}

  {% assign page_title = 'Home' %}

  {% include 'header' %}

  <!-- Excluded from Alpha -->

	<div class="page-banner">

    <div class="layout layout-full">

      <img src="http://placehold.it/2000x500" alt="Placeholder image" />

    </div><!--/layout-->

  </div><!--page-banner-->

  <div class="page-content">

    <div class="layout layout-constrained layout-one-column">

      <div class="content">

        <div class="module module-what-to-do">

          <h2 class="module-title">What to do if...</h2>

          <ul class="lnk-list">
            <li class="lnk-"><a href="#">You've just been made redundant</a></li>
            <li class="lnk-"><a href="#">A loved one has died suddenly</a></li>
            <li class="lnk-"><a href="#">You're employed again</a></li>
            <li class="lnk-"><a href="#">You're struggling to pay your rent</a></li>
            <li class="lnk-"><a href="#">You've just become a parent</a></li>
          </ul>

        </div><!--/module-->

      </div><!--/content-->

    </div><!--/layout-->

    <div class="layout layout-constrained layout-three-column">

      <div class="content">

        <h2>Services</h2>

        <ul>
          <li class="lnk-"><a href="#">Pharetra Risus Vehicula</a></li>
          <li class="lnk-"><a href="#">Amet Ridiculus Parturient Malesuada</a></li>
          <li class="lnk-"><a href="#">Fermentum Ligula</a></li>
        </ul>

      </div><!--/content-->

      <div class="content">

        <h2>Services</h2>

        <ul>
          <li class="lnk-"><a href="#">Pharetra Risus Vehicula</a></li>
          <li class="lnk-"><a href="#">Amet Ridiculus Parturient Malesuada</a></li>
          <li class="lnk-"><a href="#">Fermentum Ligula</a></li>
        </ul>

      </div><!--/content-->

      <div class="content">

        <h2>Services</h2>

        <ul>
          <li class="lnk-"><a href="#">Pharetra Risus Vehicula</a></li>
          <li class="lnk-"><a href="#">Amet Ridiculus Parturient Malesuada</a></li>
          <li class="lnk-"><a href="#">Fermentum Ligula</a></li>
        </ul>

      </div><!--/content-->

    </div><!--/layout-->

    <br />

    <div class="layout layout-constrained layout-three-column">

      <div class="content">

        <a href="#">
          <img src="http://placehold.it/300x196&amp;text=visitors" alt="Visitors" />
        </a>

      </div><!--/content-->

      <div class="content">

        <a href="#">
          <img src="http://placehold.it/300x196&amp;text=council" alt="Council and democracy" />
        </a>

      </div><!--/content-->

      <div class="content">

        <a href="#">
          <img src="http://placehold.it/300x196&amp;text=neighbourhood" alt="My neighbourhood" />
        </a>

      </div><!--/content-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
