<div class="pattern" id="icons">

    {{# tags.common.palette }}

        {{> tags/components/title}}

        <div class="pattern__block">
            
                  {{# palettes }}
                        <div class="palette">
                              {{# .}}
                                    {{> tags/components/swatch }}
                              {{/ .}}
                        </div>
                  {{/ palettes }}
            
            <div class="palette">
            	<div class="swatch swatch--grey1">
            		<div class="swatch__title">
            			<strong>
            				G1
            			</strong>
            			<em>#2e3137</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Header / Footer background</li>
        					<li>Primary copy colour</li>
        				</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--grey2">
            		<div class="swatch__title">
            			<strong>
            				G2
            			</strong>
            			<em>#676973</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Light copy on white or light background.</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--grey3">
            		<div class="swatch__title">
            			<strong>
            				G3
            			</strong>
            			<em>#96969a</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Checkbox / radio border</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--grey4">
            		<div class="swatch__title">
            			<strong>
            				G4
            			</strong>
            			<em>#cccccc</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Form field border strokes</li>
            				<li>Active boxout border strokes</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--grey5">
            		<div class="swatch__title">
            			<strong>
            				G5
            			</strong>
            			<em>#d8d8d9</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Drop shadows and inner shadows</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--grey6">
            		<div class="swatch__title">
            			<strong>
            				G6
            			</strong>
            			<em>#eaeaea</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Strokes on white</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--grey7">
            		<div class="swatch__title">
            			<strong>
            				G7
            			</strong>
            			<em>#f1f1f1</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Lightest grey panel background</li>
        				</ul>
            		</div>
            	</div>
            	
            </div>
            
            
            <div class="palette">
            	<div class="swatch swatch--blue1">
            		<div class="swatch__title">
            			<strong>
            				B1
            			</strong>
            			<em>#3771d0</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Primary CTA button background</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--blue2">
            		<div class="swatch__title">
            			<strong>
            				B2
            			</strong>
            			<em>#274d8b</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Secondary CTA button background</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--blue3">
            		<div class="swatch__title">
            			<strong>
            				B3
            			</strong>
            			<em>#0d45a0</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Text link</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--blue4">
            		<div class="swatch__title">
            			<strong>
            				B4
            			</strong>
            			<em>#74a9ff</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Text link on G1</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--blue5">
            		<div class="swatch__title">
            			<strong>
            				B5
            			</strong>
            			<em>#d5e5ff</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Background of account-related CTAs</li>
        					<li>Occasionally used to extend text links into a âbuttonâ</li>
            			</ul>
            		</div>
            	</div>
            	
            </div>
            
             <div class="palette">
            	<div class="swatch swatch--green1">
            		<div class="swatch__title">
            			<strong>
            				GN1
            			</strong>
            			<em>#188049</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Affirmation 10px indent bar and text on white</li>
        					<li>Total price 5px emphasis bar</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--green2">
            		<div class="swatch__title">
            			<strong>
            				GN2
            			</strong>
            			<em>#167341</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Affirmation text on light background colours</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--green3">
            		<div class="swatch__title">
            			<strong>
            				GN3
            			</strong>
            			<em>#c8e9d8</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Emphasised table background cells</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--green4">
            		<div class="swatch__title">
            			<strong>
            				GN4
            			</strong>
            			<em>#91c4a9</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Green icons and strokes</li>
            			</ul>
            		</div>
            	</div>
            	<div class="swatch swatch--green5">
            		<div class="swatch__title">
            			<strong>
            				GN5
            			</strong>
            			<em>#ddefe6</em>
            		</div>
            		<div class="swatch__copy">
            			<ul>
            				<li>Table background cells</li>
            			</ul>
            		</div>
            	</div>
            	
            </div>
            <div class="palette">
            	<div class="swatch">
            		<div class="swatch__title">
            			<strong>
            				Whitesmoke
            			</strong>
            			<em>#f5f5f5</em>
            		</div>
            		<div class="swatch__copy">
            			<p>
            				Lorem ipsum ipsum dolor set elit nullum vitae morsi
            			</p>
            		</div>
            	</div>
            </div>       
        </div>

        {{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;div&gt;
    tbc
&lt;/div&gt;</code></pre>
        </div>

    {{/ tags.common.palette }}

    
</div>