<div class="wr__dropdown">
	<select class="form__field form__field--select">
		<option value="">Jump to…</option>
		<option value="#type-h1">H1</option>
		<option value="#type-h2">H2</option>
		<option value="#type-h3">H3</option>
		<option value="#type-h4">H4</option>
		<option value="#type-strong">Strong</option>
		<option value="#type-emphasis">Emphasis</option>

		<option value="#type-lead">Lead</option>
		<option value="#type-light">Light</option>
		<option value="#type-micro">Micro</option>

		<option value="#type-ul">Unordered list</option>
		<option value="#type-ol">Ordered list</option>
	</select>
</div>

<h1 class="pl__title">
	Type
</h1>
<hr class="pl__rule" />



{{> patterns/type/h1 }}
{{> patterns/type/h2 }}
{{> patterns/type/h3 }}
{{> patterns/type/h4 }}
{{> patterns/type/strong }}
{{> patterns/type/em }}

{{> patterns/type/lead }}
{{> patterns/type/micro }}
{{> patterns/type/light }}

{{> patterns/type/ul }}
{{> patterns/type/ol }}

