{{> chrome/header }}
	<form class="form">
	    <fieldset class="form__item form__item--group">
	        <legend class="form__item__label">
	            Group of radio items 
	        </legend>
	        <label for="radios1" class="form__item__label form__item__label--group">
	            <input checked="checked" id="radios1" class="form__item__field form__item__field--radio" name="radios" type="radio" value="One" />radio label option 1
	        </label>
	        <label for="radios2" class="form__item__label form__item__label--group">
	            <input id="radios2" class="form__item__field form__item__field--radio" name="radios" type="radio" value="Two" />radio label option 2
	        </label>
	    </fieldset>
	</form>
{{> chrome/footer }}