{{> chrome/header}}
<div class="portlet-body">



	
		
			
			
				
					



























































































































	

				

				
					
					
						


	

		







 
 











 <!--START Portlet -->
  <!--START Portlet -->
   <!--START Portlet -->


















 

        

       

	

 

                
                



                
                

 





 




 

 


<div class="row-fluid">
	<div class="span12">
    	

























								

                                









                                
<header class="step-header">
<p class="step-header__title">Get residents' or visitors' parking permits<span class="step-header__title__seperator">:</span>
<span class="step-header__title__steps">step 2 of 5</span>
</p>
<h1 class="step-header__subtitle">Residents' permits: your vehicles</h1>
</header>


	

 









 
    </div>
</div>
 
<div class="row-fluid">
    <div class="span8">   
          <p class="lead">
          
             
        
           

























								

                                






                                
<strong>Today you can get:</strong>
		</p>
		<ul>
			<li>
				3 residents' permits (1 year or 3 month)
			</li>
			<li>
				100 visitors' permits
			</li>
		</ul>


        
            <p></p>
             <p>
                 

























								

                                






                                
The maximum allowed for your address is 3 residents' permits and 100 visitors' permits.


				 
				 
             </p>
             
			<p>








To check this please email <a href="mailto:parking.permits@bristol.gov.uk">parking.permits@bristol.gov.uk</a>.<br>
 <br>
Vehicles over 3.5 tonnes are not allowed permits.<br>
Lease or company cars and mobility vehicles without a vehicle registration certificate (V5C) - use a paper form.



</p>
	</div>
	<aside class="span4">
	
		<div class="panel panel--affirm panel--date panel--side">
			<span class="panel__title">
				








Your selected address




			</span>
			<span class="panel__copy">
		  		Flat 3  42 High Street  City Centre  Bristol  BS1 2AT
		  		
		  	</span>
		  	
			  	<p>		  		
					<a title="" href="http://l-custpdev-app1.bcc.lan:8080/parking/get-permits?p_auth=HcopY1UE&amp;p_p_id=bccparkingportlet_WAR_bccportalapps101BUILDSNAPSHOT&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_bccparkingportlet_WAR_bccportalapps101BUILDSNAPSHOT_execution=e1s3&amp;_eventId=updateAddress">








Change address



</a>				
			  	</p>
		  	
		</div>


		<div class="panel panel--side">
			<div class="panel__copy">
			<p>
				

























								

                                



                                
You are in the <strong>St Pauls</strong> residents' parking scheme

			
			</p>
			</div>
		</div>
	  
    </aside>	
    

</div>
 

 


<div class="row-fluid">
                <div class="span12">
                <hr>
    </div>
</div>

<form id="parkingOrderModel" class="form js--validate" action="http://l-custpdev-app1.bcc.lan:8080/parking/get-permits?p_auth=HcopY1UE&amp;p_p_id=bccparkingportlet_WAR_bccportalapps101BUILDSNAPSHOT&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_bccparkingportlet_WAR_bccportalapps101BUILDSNAPSHOT_execution=e1s3" method="post" novalidate="novalidate">

                




                 



<!-- START Vehicle -->
<div class="row-fluid">
    <div class="span8">
		<div class="vehicle">
			<h2>
	
                Vehicle 1
                	
                
                
                
                
                
                
	
				
			</h2>
                                           
				<div class="form__set">
					<div class="form__item" id="field-registration1">
						   






















<label class="form__item__label" for="registration1">Registration number</label>


<!-- -->
 


	
		<input id="registration1" name="vehicles[0].registrationNumber" class="form__item__field form__item__field--string" required="required" type="text" value="">      	
	
	


 
							
						<div class="form__item__message form__item__message--error" aria-hidden="true">
								Please enter a registration number for your vehicle.
						</div>                     
					 </div>
					  <div class="form__item" id="field-v5c1">
							






















<label class="form__item__label" for="v5c1">Vehicle registration certificate V5C (log book) document reference number</label>


<!-- -->
 


	
		<input id="v5c1" name="vehicles[0].v5cNumber" class="form__item__field form__item__field--string" required="required" type="text" value="">      	
	
	


           
							<div class="form__item__message form__item__message--error" aria-hidden="true">
									Please enter the V5C Document Reference Number for your vehicle.
						   </div>
					 </div>	
													
	 
					 <div class="row-fluid spaced">
							

 














<!--?xml version="1.0" standalone="yes"?--><div class="panel">
<div class="panel__copy">
<p><img src="https://www.bristol.gov.uk/sites/default/files/images/business_in_bristol/statutory_and_regulatory_services/parking/v5c-image-v3_0.jpg" alt="The document reference number is in a box on the right of the front page of your vehicle registration certificate V5C (log book)" width="480" height="180"></p>
<p>The document reference number is on the front of the V5C.</p>
</div>
</div>



                                
					</div> 
	  

					<div class="form__item" id="field-firstname1">
						   






















<label class="form__item__label" for="keeperFirstName1">First name of registered keeper
<span class="form__item__label__instructions">
You will find this on your V5C
</span></label>


<!-- -->
 


	
		<input id="keeperFirstName1" name="vehicles[0].registeredKeeperFirstName" class="form__item__field form__item__field--string" required="required" type="text" value="">      	
	
	


 
						   <div class="form__item__message form__item__message--error" aria-hidden="true">
								 Please enter a registered keeper first name for your vehicle.
						  </div>                    
					 </div>    
					<div class="form__item" id="field-lastname1">
						 






















<label class="form__item__label" for="keeperLastName1">Last name of registered keeper
<span class="form__item__label__instructions">
You will find this on your V5C
</span></label>


<!-- -->
 


	
		<input id="keeperLastName1" name="vehicles[0].registeredKeeperLastName" class="form__item__field form__item__field--string" required="required" type="text" value="">      	
	
	


                      
						 <div class="form__item__message form__item__message--error" aria-hidden="true">
								Please enter a registered keeper last name for your vehicle.
						</div>                   
					</div>      
					 <div class="form__item" id="field-dob1">
						  






















<label class="form__item__label" for="keeperDOB1">Registered keeper date of birth
<span class="form__item__label__instructions">Example: 31/05/1970. It's used to confirm they live at your address.</span></label>


<!-- -->
 


	
		<input id="keeperDOB1" name="vehicles[0].registeredKeeperDOB" class="form__item__field form__item__field--string" required="required" type="text" value="">      	
	
	


                     
						  <div class="form__item__message form__item__message--error" aria-hidden="true">
								 Please enter a date of birth for the registered keeper for your vehicle.
						 </div>
					</div>
					
									 <div class="form__item">   
										 <p> 








The registered keeper address on the V5C registration document must be the same as the address you gave us for the permits. This applies to every vehicle.



 </p> 
									</div> 
					                                                                               
			</div>

      
        </div>    
    </div>  
</div>

<div class="row-fluid"> 
	<div class="span12"> 

	</div>
</div>
<!-- END Vehicle -->




 
 
 
 <div class="row-fluid">

	<div class="span8">	
		<div class="slab slab--additional slab--additional-permit">
			+ 

























								

                                



                                
<button name="_eventId_addVehicle" type="submit" class="cta cta--link">Add another vehicle</button>


		</div>	
 	</div>
 </div>
 



 

<div class="row-fluid">

	<div class="span8">       
		<p>








</p><div class="panel">
  <div class="panel__copy">

<p>If you go to the next step you give us permission to check your identity, address and car details with a company called Experian, so that we can speed up the checking process. We can't use DVLA currently.</p>

<p><strong>This won't affect your credit record</strong>, but the check will be recorded.</p>

<p>Experian will check your details with other information that they hold. They won't keep your information or give it anyone else.</p>

<p>If you don't want us to check your details with Experian, stop now and do not use the 'Next' button. Use your paper application form instead. If you don't have a form, email <a href="mailto:parking.permits@bristol.gov.uk">parking.permits@bristol.gov.uk</a> including your address and postcode or call us on 0117 922 2600 and we'll send you one.</p>

  </div>
</div>



<p></p>
	</div>
</div>

<div class="row-fluid">
	<div class="span8">
    	<div class="form__actions">				
		
			

























								

                                



                                
<button name="_eventId_continue" type="submit" class="cta cta--icon cta--next cta--primary js--prevent-double" data-primary-submit="">Next</button>
<div class="form__submit_message">The next step may take a few seconds - <br>
please submit once and wait</div>


		
		</div>
    </div>
</div>
</form>



 









<div class="row-fluid">
<div class="span8">	
<div class="panel panel--feedback">
<h2 class="panel__title">Give feedback on this new service</h2>
<div class="panel__copy">
<p><a href="https://www.bristol.gov.uk/node/24282" target="_blank">Give feedback (opens new window)</a> and help improve this service.<br>
It only takes a minute and you won't lose your permit details.</p>
</div>
</div>
</div>
</div>













 
 
















	
	   
	
	



<script>
	ga('send', 'pageview', {
	  'page': '/parking/get-permits/vehicle-details',

});
</script>

 

    
              <!--</div>
              /grid-col-->
           
		    <!--END Portlet -->
			 <!--END Portlet -->
			  <!--END Portlet -->

	
	

					
				
			
		
	
	



	</div>
{{> chrome/footer}}
