{{> chrome/header}}
<div class="portlet-body">



	
		
			
			
				
					



























































































































	

				

				
					
					
						


	

		

 
 
 

 

 

    








    

<div class="row-fluid">
	<div class="span8">
		<h1>
			Thank you, we have received your request
		</h1>
		
		
































<!-- forms -->






<div class="panel panel--affirm panel--date ">
	
		<span class="panel__title">
			We've sent a confirmation of your request to
		</span>
	
	
	
	
	<strong class="panel__copy">
  		
			jake.vidalsson19@hotmail.com
		
  	</strong>
  	
</div>
		
		<p>
			Your request number is <strong>#8293-3829-13982</strong>
		</p>
	</div>
	<div class="span4">
	
	</div>
</div>
<hr class="spaced">
<div class="row-fluid">
	<div class="span8">
		<h2>
			What happens next
		</h2>
		<p>
			We'll contact you in the next <strong>three working days</strong> to let you know how long it's going to take to give you a full response.
		</p>
			
		<div class="panel panel--feedback">
			<h2 class="panel__title">
				Is this page helpful and free from errors?
			</h2>
			<div class="panel__copy">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit commodo justo.
					<br> 
					Aenean quis <a href="#" title="Feedback survey">feedback survey</a>. 
				</p>
			</div>
		</div>
	
	</div>
	<div class="span4">
	
	</div>
</div>







	
	

					
				
			
		
	
	



	</div>
{{> chrome/footer}}
