{{> chrome/header}}

<div class="page-content" id="content">

				<!-- ***** CONTENT ***** -->









































































































<div class="columns-1" id="main-content" role="main">
	<div class="portlet-layout row-fluid">
		<div class="portlet-column portlet-column-only span12" id="column-1">
			<div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">





























































	<div class="portlet-boundary portlet-boundary_bccboilerplate_WAR_bccboilerplate100SNAPSHOT_  portlet-static portlet-static-end portlet-borderless  " id="p_p_id_bccboilerplate_WAR_bccboilerplate100SNAPSHOT_">
		<span id="p_bccboilerplate_WAR_bccboilerplate100SNAPSHOT"></span>




















































































				<div class="portlet-borderless-container" style="">





	<div class="portlet-body">










































































































































































<h1>
	List Table
</h1>
<p>
	Looks similar to a table but as headers will be inconsistent is marked up as an ordered list. "Columns" are defined by the grid and overriden in mobile view.
</p>

<table class="collapse-table js-collapse-table">
	<tbody>
		<tr class="table__row--header">
			<th>Description</th>
			<th class="table__col--details">Details</th>
			<th class="table__col--last">Cost</th>
		</tr>
		<tr>
			<td class="table__col--description">
				<strong>First permit</strong>
				<br>
				Cost depends on the tax band of your vehicles
			</td>
			<td class="table__col--details">
				<strong>TR28 DSA</strong>
				<br>
				Class A
			</td>
			<td class="table__col--last">
				<strong>FREE</strong>
			</td>
		</tr>
		<tr>
			<td class="table__col--description">
				<strong>Second permit [two cars]</strong>
			</td>
			<td class="table__col--details">
				<div>
					<strong>TR28 DSA</strong>
					<br>
					Class A
				</div>
				<div>
					<strong>TR28 DSA</strong>
					<br>
					Class A
				</div>
			</td>
			<td class="table__col--last">
				<strong>FREE</strong>
			</td>
		</tr>
		<tr class="table__row--quantities">
			<td colspan="3">
				<a href="" title="Change quantities of permits"> Change quantities of items </a>
			</td>
		</tr>
		<tr>
			<td>
				<strong>Free visitor permits</strong>
			</td>
			<td class="table__col--details">
				<strong>50</strong>
			</td>
			<td class="table__col--last">
				<strong>FREE</strong>
			</td>
		</tr>
		<tr>
			<td>
				<strong>Paid visitor permits</strong>
			</td>
			<td class="table__col--details">
				<strong>35</strong>
			</td>
			<td class="table__col--last">
				<strong>£777.77</strong>
			</td>
		</tr>
		<tr class="table__row--quantities">
			<td colspan="3">
				<a href="" title="Change quantities of permits"> Change quantities of items </a>
			</td>
		</tr>
		<tr class="table__row--total table__row--total--affirm">
			<td colspan="3">
				Total: <strong>£111.00</strong>
			</td>
		</tr>
	</tbody>
</table>














	</div>

				</div>



















	</div>




</div>
		</div>
	</div>
</div>





































































	<div class="portlet-boundary portlet-boundary_1_WAR_kaleodesignerportlet_  portlet-static portlet-static-end portlet-borderless kaleo-designer-portlet " id="p_p_id_1_WAR_kaleodesignerportlet_">
		<span id="p_1_WAR_kaleodesignerportlet"></span>






































	</div>












<form action="#" id="hrefFm" method="post" name="hrefFm">
	<span></span>
</form>

				<!-- ***** CONTENT ***** -->

			</div>

{{> chrome/footer}}
