{{> chrome/header }}
	
	<form class="form">
		
		<div class="form-item">
			<input class="form__field form__field--boolean form__field--boolean--validate form__field--checkbox" type="checkbox" name="" id="ff-addr1" value="noemail">
						<input class="form__field form__field--boolean form__field--boolean--validate form__field--checkbox" type="checkbox" name="" id="ff-addr1" value="noemail2">

		</div>

	</form>

	
{{> chrome/footer}}
<script type="text/javascript">
	$(document).ready(function(){

		$('input[name]').each(function(){
			
		});

	});
</script>