<div class="pattern" id="icons">

	

	{{# tags.common.icons-bcc }}

        {{> tags/components/title}}

		
		

	<div class="pattern__block">

		<table cellpadding="10" cellspacing="0" border="1" style="width:100%; border:1px solid #cccccc;">
			<thead>
				<tr>
					<th width="40" class="left">
						<strong>Name</strong>
					</th>

					<th width="30" class="center">
						<strong>icon</strong>
					</th>

					<th width="30" class="center">
						<strong>icon--large</strong>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="left">
						.icon--bcc--buspass
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--buspass"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--buspass icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--menu
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--menu"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--menu icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--search
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--search"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--search icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--registerbirth
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--registerbirth"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--registerbirth icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--feedback
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--feedback"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--feedback icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--parking
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--parking"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--parking icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--counciltax
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--counciltax"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--counciltax icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--foi
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--foi"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--foi icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--pdf
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--pdf"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--pdf icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--cross
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--cross"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--cross icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--user
					</td>
					<td class="center">
						<div class="icon icon--bcc icon--bcc--user"></div>
					</td>
					<td class="center">
						<div class="icon icon--bcc icon--bcc--user icon--large"></div>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--alert
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--alert"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--alert icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--bin
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--bin"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--bin icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--up
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--up"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--up icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--right
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--right"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--right icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--down
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--down"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--down icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--left
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--left"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--left icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--tick
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--tick"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--tick icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--cancel
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--cancel"></span>
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--cancel icon--large"></span>
					</td>
				</tr>
		
				<tr>
					<td class="left">
						.icon--bcc--cog
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--cog"></span>
					</td>
					<td class="center">
						<span class="icon--bcc icon--bcc--cog icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--download
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--download"></span>
					</td>
					<td class="center">
						<span class="icon--bcc icon--bcc--download icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon--bcc--verified
					</td>
					<td class="center">
						<span class="icon icon--bcc icon--bcc--verified"></span>
					</td>
					<td class="center">
						<span class="icon--bcc icon--bcc--verified icon--large"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	{{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;div&gt;
    tbc
&lt;/div&gt;</code></pre>
        </div>

  	{{/ tags.common.icons-bcc }}
	
</div>