<div class="pattern" id="icons">

	

	{{# tags.common.icons }}

        {{> tags/components/title}}

		
		

	<div class="pattern__block">

		<table cellpadding="10" cellspacing="0" border="1" style="width:100%; border:1px solid #cccccc;">
			<thead>
				<tr>
					<th width="40" class="left">
						<strong>Name</strong>
					</th>
					<th width="30" class="center">
						<strong>icon</strong>
					</th>
					<th width="30" class="center">
						<strong>icon--large</strong>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="left">
						.icon-heart
					</td>
					<td class="center">
						<span class="icon icon-heart"></span>
					</td>
					<td class="center">
						<span class="icon icon-heart icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-cogs
					</td>
					<td class="center">
						<span class="icon icon-cogs"></span>
					</td>
					<td class="center">
						<span class="icon icon-cogs icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-collapse
					</td>
					<td class="center">
						<span class="icon icon-collapse"></span>
					</td>
					<td class="center">
						<span class="icon icon-collapse icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-quote-left
					</td>
					<td class="center">
						<span class="icon icon-quote-left"></span>
					</td>
					<td class="center">
						<span class="icon icon-quote-left icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-quote-right
					</td>
					<td class="center">
						<span class="icon icon-quote-right"></span>
					</td>
					<td class="center">
						<span class="icon icon-quote-right icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-desktop
					</td>
					<td class="center">
						<span class="icon icon-desktop"></span>
					</td>
					<td class="center">
						<span class="icon icon-desktop icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-laptop
					</td>
					<td class="center">
						<span class="icon icon-laptop"></span>
					</td>
					<td class="center">
						<span class="icon icon-laptop icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-tablet
					</td>
					<td class="center">
						<span class="icon icon-tablet"></span>
					</td>
					<td class="center">
						<span class="icon icon-tablet icon--large"></span>
					</td>
				</tr>
				<tr>
					<td class="left">
						.icon-mobile
					</td>
					<td class="center">
						<span class="icon icon-mobile"></span>
					</td>
					<td class="center">
						<span class="icon icon-mobile icon--large"></span>
					</td>
				</tr>
				
				<tr>
					<td class="left">
						.icon-chevron-right
					</td>
					<td class="center">
						<span class="icon icon-chevron-right"></span>
					</td>
					<td class="center">
						<span class="icon icon-chevron-right icon--large"></span>
					</td>
				</tr>
			</tbody>
		</table>
	
	</div>

	{{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;div&gt;
    tbc
&lt;/div&gt;</code></pre>
        </div>

  	{{/ tags.common.icons }}
	
</div>