	{{

	email_title = 'Confirm your account email' 
	email_heading = 'Confirm email address for your Bristol Account' 
	email_subheading = '<a href="#">Confirm&nbsp;email&nbsp;address</a>' 
	
	}}

	{{> chrome/email-header}}

	Dear Josephine Bloggstone,
	<br/>
	<br/>
	<strong>You created an account on the Bristol City Council website and we need to check we have the right email address.</strong>
	<br/>
	<br/>
	You won't be able to use your account until you confirm your email.
	<br/>
	Follow the link above or enter the code <strong>9d959250-7dbf-4d48-846c-226b73f14304</strong> (you can copy and paste) on this page <a href="#">www.whatisthepage.com</a> to confirm your email.
	
	{{#with header}}
		{{> chrome/email-footer}}
	{{/with}}