	{{

		email_title = 'Account password reset' 
		email_heading = 'Your account password has been reset'
		email_subheading = '<a href="#">Sign&nbsp;in&nbsp;to&nbsp;your&nbsp;account</a>'

	}}

	{{> chrome/email-header}}

	Dear Josephine Bloggstone,
	<br/>
	<br/>
	This is just to let you know that your Bristol Account password has been reset.

	<br/>
	<br/>
	You don't need to do anything, but you can <a href="#">sign&nbsp;in&nbsp;to&nbsp;your&nbsp;account</a> if you want to.

	{{#with header}}
		{{> chrome/email-footer}}
	{{/with}}