	{{ 
		email_title = 'Reset your password'
		email_heading = 'Reset the password for your Bristol Account'
		email_subheading = '<a href="#">Click here to reset password</a>'
	}}

	{{> chrome/email-header}}

	Dear Josephine Bloggstone,
	<br/>
	<br/>
	You asked to reset the password on your Bristol Account. Follow the link above to complete the reset on our website.
	<br/>
	<br/>
	<strong>It will expire in 48 hours</strong>.
    <br/>
    <br/>
    If it has expired, go back to the <a href="http://beta.bristol.gov.uk">council website</a> and do the reset again.
	
	{{#with header}}
		{{> chrome/email-footer}}
	{{/with}}