
        <!-- CONTENT ENDS/THEME BEGINS -->

      </div><!--/page-body-->

      {% if theme != false %}

        <div class="page-footer" role="contentinfo">
          <div class="layout layout-constrained">
            <div class="grid-wrap">

              <div class="grid-col tablet-grid-two-thirds">

                <div class="legal-nav">
                  <ul class="linklist">
                    <li><a href="#">Complaints &amp; comments</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Copyright</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                  </ul>
                </div><!--/legal-nav-->

              </div><!--/grid-col-->

              <div class="grid-col tablet-grid-one-third">

                <div class="logo-nav">

                  <ul class="linklist">
                    <li class="logo-gov-uk">
                      <a href="https://www.gov.uk/">
                        <img src="/ui/images/logo-gov-uk-white.png" alt="Gov.uk logo" />
                      </a>
                    </li>
                    <li class="logo-bcc">
                      <a href="/" title="Homepage">
                        <img src="/ui/images/logo-bcc-white.png" alt="Bristol City Council logo" />
                      </a>
                    </li>
                  </ul>

                </div><!--/logo-nav-->

              </div><!--/grid-one-third-->

            </div><!--/grid-wrap-->

          </div><!--/layout-->
        </div><!--/page-footer-->

      {% endif %}

    </div><!--/page-container-->

    <script> var ie7 = false;</script>
    <!--[if IE 7]>
    <script>ie7 = true;</script>
    <![endif]-->

    <!-- build:js /ui/js/bcc-cpp.js-->
    <script src="/ui/js/vendor/jquery-1.10.2.js"></script>
    <script src="/ui/js/vendor/jquery-ui-1.10.3.custom.js"></script>
    <script src="/ui/js/widgets/jquery.bcc.validate.js"></script>
    <script src="/ui/js/vendor/jquery.uniform.js"></script>
    <script src="/ui/js/vendor/jquery.magnificpopup.js"></script>
    <script src="/ui/js/vendor/jquery.placeholder.js"></script>
    <script src="/ui/js/widgets/jquery.bcc.listtable.js"></script>
    <script src="/ui/js/widgets/jquery.bcc.addresslookup.js"></script>
    <script src="/ui/js/widgets/jquery.bcc.binbasket.js"></script>
    <script src="/ui/js/widgets/jquery.bcc.overlays.js"></script>
    <script src="/ui/js/app.js"></script>
    <!-- endbuild -->

  </body>

</html>