<div class="address-lookup js-address-lookup">
  <div class="form__item form__item--string-action">
    <label class="form__label" for="ypcode">Your postcode</label>
    <input class="form__field form__field--string" type="text" name="ypcode" id="ypcode" value="BS6 5AA" />
    <button class="btn btn--secondary" type="submit">Lookup address</button>
  </div><!--/form__item-->

  <div class="form__item form__item--select">
    <select name="" class="form__field form__field--select" size="3">
      <option>Please select...</option>
      <option>19 Redland Road, Bristol, BS6 5AA</option>
      <option>20 Redland Road, Bristol, BS6 5AA</option>
    </select>
  </div>
</div>