<!-- @OPTIMIZE: This needs further thought (re: standfirst, etc.) - probably should be associated with the panel that follows -->
<div class="address-select">
  <p class="address-select__context">Your next xxxx for <strong class="address-msg__address">22 Queen Square, BS1 4ND</strong></p>
  <a class="address-select__change-address" href="#">Change address</a>
</div><!--/address-select-->
