<!-- Excluded from Alpha -->
<div class="nav nav-main nav-collapse" role="navigation">

  <h4 class="nav-title">Departments</h4>

  <ul class="lnk-list">
    <li class="lnk-residents is-selected"><a href="#">Residents</a></li>
    <li class="lnk-business"><a href="#">Business</a></li>
    <li class="lnk-mayor"><a href="#">Mayor</a></li>
    <li class="lnk-my-account"><a href="#">My Account</a></li>
    <!--<li><a href="/about" {% if mixture.url == 'about' %}class="is-selected"{% endif %}>About</a></li>-->
  </ul><!--/lnk-list-->

</div><!--/nav-main-->