<div class="panel panel--secondary panel--action">
  <div class="panel__inner">
    <div class="panel__vertical-centre">
      <h3 class="panel__title">Already got an account?</h3>
      <p><button class="btn btn--secondary" type="submit">Sign in <span class="ico ico-right"></span></button></p>
      <p>If you already have an account this will speed up your process?</p>
    </div>
  </div>
</div>
