<div class="panel panel--alert">

  <div class="ico ico-attention ico--large"></div>

  <h2 class="panel__title">Bad weather delays</h2>
  <div class="panel__copy">
    <p>We are currently two hours behind schedule for our household collection service. Please be patient.</p>
  </div>
</div><!--/panel-->
