<div class="panel panel--secondary panel--action">
  <div class="panel__inner">
    <div class="panel__vertical-centre">
      <h3 class="panel__title">Use an account to order</h3>
      <div class="form_actions">
        <a href="#" class="btn btn--secondary">Create new account</a>
      </div>
      <p>
        <a href="#">Sign in to an existing account</a>
      </p>
    </div>
  </div>
</div>
