<div class="panel panel--primary panel--action">
  <div class="panel__inner">
    <div class="panel__vertical-centre">
      <h3 class="panel__title">Create a new account</h3>
      <p><button class="btn" type="submit">Register now <span class="ico ico-right"></span></button></p>
      <p>It's easy and takes about 2 minutes</p>
    </div>
  </div>
</div>
