<div class="panel panel--blank">

  <h2 class="panel__title">Panel title</h2>
  <div class="panel__copy">
  	<p>
   		Lorem ipsum dolor, <strong>consectetuer</strong> and <strong>adipiscing</strong> elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
    </p>
  </div>

</div><!--/panel-->
