<div class="panel panel--related">

  <h2 class="panel__title">
    Alternate methods for doing this thing
  </h2>
  <div class="panel__copy">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mauris ac sapien lacinia vehicula consectetur sit amet turpis.
    </p>
    <p>
      Sed accumsan nunc lacinia justo ullamcorper eu hendrerit lacus blandit. Praesent et sagittis ante.
    </p>

    <p>
      <a class="delta" href="#">Small call to action</a>
    </p>

    <p>
      <a href="#">This is a standalone link</a>
    </p>

    <p>
      <a href="#">Standalone link about something</a>
    </p>
  </div>
</div><!--/panel-->
