<blockquote class="quote pull-left">
  <p class="quote__copy">This is the bit where you show that anyone can have a voice on the BCC website, not just people who you would expect to appear on this kind of thing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
  <p class="quote__credit"><strong>Johnathan Longnamerson</strong> Resident, Southmead</p>
</blockquote>