<!-- Set defaults -->
{% if step-header__title %}{% else %}{% assign step-header__title = 'Title' %}{% endif %}
{% if step-header__title__step %}{% else %}{% assign step-header__title__step = 'Step x of x' %}{% endif %}

<div class="step-header step-header--alt">
  <h1 class="step-header__title">{{ step-header__title }} <span class="step-header__title__steps"><span class="step-header__title__steps__seperator">:</span> {{ step-header__title__step }}</span></h1>
</div>