<div class="tabs js-tabs">
  <ul class="tabs__list">
    <li><a href="#tab-1">Tab 1</a></li>
    <li><a href="#tab-2">Tab 2</a></li>
  </ul>

  <div class="tabs__tab" id="tab-1">
    <p>Tab 1</p>
  </div>

  <div class="tabs__tab" id="tab-2">
    <p>Tab 2</p>
  </div>

</div><!--/tabs-->