<div class="panel panel--errors">
    <div class="panel__title">
    	{{ panel__title }}
    </div>
    <div class="panel__copy">
        <li>
        	<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>.
		</li>
		<li>
        	<a href="">Pariatur ex veritatis sit eos, id iure, qui</a>.
        </li>
        <li>
        	<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>.
		</li>
		<li>
        	<a href="">Pariatur ex veritatis sit eos, id iure, qui</a>.
        </li>
    </div>
</div>