<div class="pattern" id="panels-block">

	{{# tags.panels.block }}

		{{> tags/components/title}}
		
		<div class="pattern__block">
			{{> tags/panels/block }}
		</div>
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="block" data-mh="half"&gt;
	&lt;h2 class="block__title"&gt;
		&lt;span class="icon--bcc icon--bcc--foi"&gt;&lt;/span&gt;
		Freedom of information
	&lt;/h2&gt;
	&lt;div class="block__copy"&gt;
		&lt;p&gt;
			Make a request to see any information we hold on paper or as computer files.
		&lt;/p&gt;
		&lt;ul&gt;
			&lt;li&gt;
				&lt;a href="#"&gt;
					Submit a freedom of information request
				&lt;/a&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</div>

  	{{/ tags.panels.block }}
</div>


