<div class="wr__dropdown">
	<select class="form__field form__field--select">
		<option value="">Jump to…</option>

		<option value="#panels-info">Panel</option>
		<option value="#panels-info-affirm">Panel Affirm</option>
		<option value="#panels-info-affirm-reverse">Panel Affirm Reverse</option>
		<option value="#panels-info-affirm-extra">Panel Affirm Extra</option>
		<option value="#panels-info-1of2">Panel 1of2</option>
		<option value="#panels-info-errors">Panel Errors</option>

		<option value="#panels-block">Block</option>

		<option value="#panels-warning">Warning</option>

		<option value="#panels-slate">Slab</option>
		<option value="#panels-slate-primary">Slab Primary</option>
		<option value="#panels-slate-outline">Slab Outline</option>
		<option value="#panels-slate-white-outline">Slab White Outline</option>
		<option value="#panels-slate-layout">Slab Layout</option>

		<option value="#panels-additional">Additional</option>

		<option value="#panels-alert-warning">Alert Warning</option>
		<option value="#panels-alert-error">Alert Error</option>
		
	</select>
</div>

<h1 class="pl__title">
	Panels
</h1>
<hr class="pl__rule" />




{{> patterns/panels/info }}
{{> patterns/panels/info_affirm }}
{{> patterns/panels/info_affirm_reverse }}
{{> patterns/panels/info_affirm_extra }}
{{> patterns/panels/info_1of2 }}
{{> patterns/panels/info_errors }}

{{> patterns/panels/block }}

{{> patterns/panels/warning }}

{{> patterns/panels/slate }}
{{> patterns/panels/slate_primary }}
{{> patterns/panels/slate_outline }}
{{> patterns/panels/slate_white_outline }}
{{> patterns/panels/slate_layout }}

{{> patterns/panels/additional }}

{{> patterns/panels/alert_warning }}
{{> patterns/panels/alert_error }}



