<div class="pattern" id="panels-info-affirm">

	{{# tags.panels.info-affirm }}
	
		{{> tags/components/title}}
		
		{{> tags/panels/info_affirm }}
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="panel panel--affirm"&gt;
	&lt;div class="panel__title"&gt;
	    This is a panel
	&lt;/div&gt; 
	&lt;div class="panel__copy"&gt; 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ex veritatis sit eos, id iure, qui.
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>

	{{/ tags.panels.info-affirm }}
</div>