<div class="pattern" id="panels-info-affirm-extra">

	{{# tags.panels.info-affirm-extra }}
	
		{{> tags/components/title}}
		
		{{> tags/panels/info_affirm_extra }}
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="panel panel--affirm panel--reverse"&gt;
    &lt;span class="panel__title"&gt;
    	Your selected address
    &lt;/span&gt;
    &lt;span class="panel__copy"&gt;
      	19 Redland Road, Bristol BS6 5AA
    &lt;/span&gt;
    &lt;a href="#"&gt;Change address&lt;/a&gt;
&lt;/div&gt;</code></pre>
		</div>

	{{/ tags.panels.info-affirm-extra }}
</div>