{{# tags.panels.info-errors }}
<div class="pattern" id="panels-info-errors">
	
	{{> tags/components/title}}
	
	{{> tags/panels/info_errors }}
	
	{{> tags/components/docs }}

	<div class="wr__code">
		<pre><code class="language-markup">&lt;div class="panel panel--errors"&gt;
	&lt;div class="panel__title"&gt;
	    This is a panel
	&lt;/div&gt; 
	&lt;div class="panel__copy"&gt; 
		&lt;ul&gt; 
			&lt;li&gt;Lorem ipsum dolor sit elit.&lt;/li&gt;
			&lt;li&gt;Lorem ipsum dolor sit elit.&lt;/li&gt;
			&lt;li&gt;Lorem ipsum dolor sit elit.&lt;/li&gt;
		&lt;/ul&gt; 
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</div>
	
</div>
{{/ tags.panels.info-errors }}