<div class="pattern" id="panels-info-affirm-reverse">

	{{# tags.panels.info-affirm-reverse }}
	
		{{> tags/components/title}}
		
		{{> tags/panels/info_affirm_reverse }}
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="panel panel--affirm panel--reverse"&gt;
    &lt;span class="panel__title"&gt;
    	Delivery by
    &lt;/span&gt;
    &lt;span class="panel__copy"&gt;
      	Weds, 15th January between 7am and 6pm
    &lt;/span&gt;
&lt;/div&gt;</code></pre>
		</div>

	{{/ tags.panels.info-affirm-reverse }}
</div>