<div class="pattern" id="panels-info-1of2">

	{{# tags.panels.info-1of2 }}
	
		{{> tags/components/title}}
		
		{{> tags/panels/info_1of2 }}
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="panel panel--affirm panel--reverse panel--1of2"&gt;
    &lt;div class="panel__title"&gt;
    	Email updated
    &lt;/div&gt;
    &lt;div class="panel__copy"&gt;
        justine.longnamerson@emailaddress.com
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel--affirm panel--reverse panel--2of2"&gt;
    &lt;div class="panel__title"&gt;
    	and
    &lt;/div&gt;
    &lt;div class="panel__copy"&gt;
    	234 Some Street, Somewhere, Some City, G12 2ND
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>

	{{/ tags.panels.info-1of2 }}
</div>