<div class="pattern" id="panels-slate-layout">

	{{# tags.panels.slate-layout }}

		{{> tags/components/title}}
		
		<div class="pattern__block">
			{{> tags/panels/slate_layout }}
		</div>
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="slab"&gt;
	&lt;div class="slablayout--main"&gt;
	    &lt;h3 class="slab__title"&gt;
	    	Equalities monitoring
	    &lt;/h3&gt;
	    &lt;p&gt;
	    	Please help us ensure our services are fair and accessible by answering seven simple questions.
	    &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="slablayout--side"&gt;
	    &lt;a href="#" class="cta cta--icon cta--primary cta--next"&gt;
			Get started
		&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>

  	{{/ tags.panels.slate-layout }}
</div>