<div class="pattern" id="panels-slate-primary">

	{{# tags.panels.slate-primary }}

		{{> tags/components/title}}
		
		<div class="pattern__block">
			{{> tags/panels/slate_primary }}
		</div>
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;div class="slab slab--primary"&gt;
    &lt;div class="slab__title"&gt;
    	Make your next visit easier & quicker
    &lt;/div&gt;
    &lt;div class="slab__copy"&gt;
        &lt;p&gt;
        	Just fill in 2 more pieces of information about yourself to create an account that will remember all your details next time you come back.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>

  	{{/ tags.panels.slate-primary }}
</div>