<div class="pattern" id="panels-warning">

	{{# tags.panels.warning }}
	
		{{> tags/components/title}}
		
		<div class="pattern__block">
			{{> tags/panels/warning }}
		</div>
		
		{{> tags/components/docs }}

		<div class="wr__code">
			<pre><code class="language-markup">&lt;h2 class="info"&gt;
	&lt;span class="info__icon"&gt;&lt;/span&gt;
	&lt;span class="info__copy"&gt;
		This is a warning about some kind of liability on your part or something like that.
	&lt;/span&gt;
&lt;/h2&gt;</code></pre>
		</div>

	{{/ tags.panels.warning }}
</div>