<!-- Excluded from Alpha -->
<form class="form-search" action="#" method="post">

  <div class="form-field">
    <label class="lbl-search" for="f-search">Search</label>
    <input type="search" id="f-search" class="f-search" placeholder="Search (e.g. schools)" />
  </div><!--/field-->

  <div class="action">
    <button type="submit">Submit</button>
  </div><!--/action-->

</form>