<div class="panel media">
	<img class="img" alt="Green wheelie bin" src="http://placehold.it/75x75/">
	<div class="media__content">
    <p class="panel__title--minor">Looking for the Green Wheelie Bin?</p>
  	<div class="panel__copy--small">
  		<p>These can be ordered from the <a href="#">Garden Waste</a> section.</p>
  	</div>
  </div>
</div>
