<div class="panel panel--bare">
  <p class="panel__title--alt">Your order <strong>#1926934</strong>  <span class="panel__small-link">(Quote this when contacting us)</span></p>
  <p class="panel__advice"><a href="#">Track this order</a></p>
</div>
