<!-- Excluded from Alpha -->
<!-- @TODO: This needs a better class name -->
<!-- @TODO: This *could* be separated out into two modules; services and departments -->
<div class="site-sections">

    <div class="nav nav-services">

      <h4 class="nav-title">Services</h4>

      <ul class="lnk-list">
        <li class="lnk-council-tax"><a href="#">Council tax</a></li>
        <li class="lnk-leisure-and-culture"><a href="#">Leisure and culture</a></li>
        <li class="lnk-travel-and-parking"><a href="#">Travel and parking</a></li>
        <li class="lnk-schools"><a href="#">Schools</a></li>
        <li class="lnk-bins-and-recycling"><a href="#">Bins and recycling</a></li>
        <li class="lnk-roads-and-streets"><a href="#">Roads and streets</a></li>
        <li class="lnk-housing"><a href="#">Housing</a></li>
        <li class="lnk-environment"><a href="#">Environment</a></li>
        <li class="lnk-jobs-and-training"><a href="#">Jobs and training</a></li>
        <li class="lnk-births-deaths-and-marriages"><a href="#">Births, deaths and marriages</a></li>
        <li class="lnk-children-and-young-people"><a href="#">Children and young people</a></li>
        <li class="lnk-planning-and-building-regulations"><a href="#">Planning and building regulations</a></li>
        <li class="lnk-community-and-safety"><a href="#">Community and safety</a></li>
        <li class="lnk-financial-help-and-benefits"><a href="#">Financial help and benefits</a></li>
        <li class="lnk-health-and-adult-care"><a href="#">Health and adult care</a></li>
    </ul><!--/lnk-list-->

  </div><!--/nav-services-->

  <div class="nav nav-departments">

    <h4 class="nav-title">Departments</h4>

    <ul class="lnk-list">
      <li class="lnk-residents"><a href="#">Residents</a></li>
      <li class="lnk-business"><a href="#">Business</a></li>
      <li class="lnk-mayor"><a href="#">Mayor</a></li>
      <li class="lnk-visitors"><a href="#">Visitors</a></li>
      <li class="lnk-council-and-democracy"><a href="#">Council & democracy</a></li>
      <li class="lnk-my-account"><a href="#">My Account</a></li>
      <!--<li><a href="/about" {% if mixture.url == 'about' %}class="is-selected"{% endif %}>About</a></li>-->
    </ul><!--/lnk-list-->

  </div><!--/nav-departments-->

</div><!--/site-sections-->