<div class="pattern" id="navigation-lists-list">

	{{# tags.navigation.list }}

        {{> tags/components/title}}

		{{> tags/navigation/list }}
		
		{{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;ul class="list"&gt;
    &lt;li class="list__item"&gt;
        &lt;h3 class="list__item__title"&gt;
            &lt;a href="#"&gt;
                Landlord services
            &lt;/a&gt;
        &lt;/h3&gt;
        &lt;p class="list__item__copy"&gt;
            Including repairs, maintenance, tenancy issues, caretaking and neighbours
        &lt;/p&gt;
    &lt;/li&gt;
    ...
&lt;/ul&gt;</code></pre>
        </div>

  	{{/ tags.navigation.list }}

	
</div>