<div class="pattern" id="navigation-stepheader">

	{{# tags.navigation.stepheader }}

        {{> tags/components/title}}

		{{> tags/navigation/stepheader }}
		
		{{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;header class="step-header"&gt;
    &lt;h1 class="step-header__title"&gt;
        Report missed collection
        &lt;span class="step-header__title__steps"&gt;
            &lt;span class="step-header__title__steps__seperator"&gt;:&lt;/span&gt; 
            Step 1 of 3
        &lt;/span&gt;
    &lt;/h1&gt;
    &lt;h2 class="step-header__subtitle"&gt;
        Your recent collections
    &lt;/h2&gt;
&lt;/header&gt;</code></pre>
        </div>

  	{{/ tags.navigation.stepheader }}

	
</div>