<div class="pattern" id="navigation-lists-list">

	{{# tags.navigation.tabs }}

        {{> tags/components/title}}

		{{> tags/navigation/tabs }}
		
		{{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;div class="tabs js--tabs"&gt;
    &lt;ul class="tabs__list"&gt;
        &lt;li&gt;&lt;a href="#tab-101"&gt; Tab 1 &lt;/a&gt;&lt;/li&gt;
        ...
    &lt;/ul&gt;
    &lt;div class="tabs__tab" id="tab-101"&gt;
        &lt;p&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        &lt;/p&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;</code></pre>
        </div>

  	{{/ tags.navigation.tabs }}

	
</div>