<div class="pattern" id="navigation-lists-list">

	{{# tags.navigation.tiles }}

        {{> tags/components/title}}

		{{> tags/navigation/tiles }}
		
		{{> tags/components/docs }}

        <div class="wr__code">
            <pre><code class="language-markup">&lt;ul class="tiled js--matchHeight"&gt;
    &lt;li class="tiled__item"&gt;
        &lt;h3 class="tiled__item__title"&gt;
            &lt;a href="#"&gt;
                Housing
            &lt;/a&gt;
        &lt;/h3&gt;
    &lt;/li&gt;
    ...
&lt;/ul&gt;</code></pre>
        </div>

  	{{/ tags.navigation.tiles }}

	
</div>