<div class="pattern" id="datecard-list">

	{{# tags.custom.datecard-list }}
	{{> tags/components/title }}
	{{/ tags.custom.datecard-list }}
	
	<div class="pattern__block">
		<div class="date-card-list">
			{{# tags.custom.datecard }}
			{{> tags/custom/datecard }}
			{{/ tags.custom.datecard }}


			{{# tags.custom.datecard-recycling }}
			{{> tags/custom/datecard_recycling }}
			{{/ tags.custom.datecard-recycling }}


			{{# tags.custom.datecard-ghost }}
			{{> tags/custom/datecard_ghost }}
			{{/ tags.custom.datecard-ghost }}


			{{# tags.custom.datecard-bulky }}
			{{> tags/custom/datecard_bulky }}
			{{/ tags.custom.datecard-bulky }}


			{{# tags.custom.datecard-bulky }}
			{{> tags/custom/datecard_bulky }}
			{{/ tags.custom.datecard-bulky }}
		</div>
	</div>
	
	{{# tags.custom.datecard-list }}
	{{> tags/components/docs }}

	<div class="wr__code">
		<pre><code class="language-markup">&lt;div&gt;
  tbc
&lt;/div&gt;</code></pre>
	</div>
	{{/ tags.custom.datecard-list }}

	
</div>