<div class="wr__dropdown">
	<select class="form__field form__field--select">
		<option value="">Jump to…</option>

		<option value="#buttons-cta-link">CTA Link</option>
		<option value="#buttons-cta-button">CTA Button</option>
		<option value="#buttons-cta-link-with-icon">CTA Link with Icon</option>
		<option value="#buttons-cta-button-with-icon">CTA Button with Icon</option>

		<option value="#buttons-ctaprimary-link">CTA Primary Link</option>
		<option value="#buttons-ctaprimary-button">CTA Primary Button</option>

		<option value="#buttons-cta-group">CTA Group</option>
		<option value="#buttons-ctaprimary-twin">CTA Primary Twin</option>v
		<option value="#buttons-cta-link-disabled">CTA Link Disabled</option>
		<option value="#buttons-cta-button-disabled">CTA Button Disabled</option>
	</select>
</div>

<h1 class="pl__title">
	Buttons
</h1>
<hr class="pl__rule" />




{{> patterns/buttons/cta_link }}
{{> patterns/buttons/cta_button }}
{{> patterns/buttons/cta_link_with_icon }}
{{> patterns/buttons/cta_button_with_icon }}

{{> patterns/buttons/ctaprimary_link }}
{{> patterns/buttons/ctaprimary_button }}

{{> patterns/buttons/cta_group }}
{{> patterns/buttons/ctaprimary_twin }}
{{> patterns/buttons/cta_link_disabled }}
{{> patterns/buttons/cta_button_disabled }}
