								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
    <script>
        var ie7 = false;
    </script>
    <!--[if IE 7]> <script>ie7=true;</script> <![endif]-->
  <!--   <script src="/bcc-beta-theme/dev.js"></script>
    <script src="/bcc-beta-theme/js/main.js"></script> -->
   
    <script src="/bcc-beta-theme/js/main.pack.js"></script>
    <script>
    // you can register settings like this before require.js is loaded
    
    </script>
</body>

</html>