<!doctype html>
<html class="no-js aui bcc-aui" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Development Environment</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Uniform.js/2.1.2/jquery.uniform.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
	<link rel="stylesheet" href="/bcc-beta-theme/css/base.css">
	<link rel="stylesheet" href="/bcc-beta-theme/css/aui.css">
	<link rel="stylesheet" href="/css/anti-aui.css">
	<link rel="stylesheet" href="/css/custom.css">
	<script>ga=function(){};</script>
</head>

<body>

	<main id="main">
		<div class="page-content" id="content">

			<div class="columns-1" id="main-content" role="main" tabindex="0">
				<div class="portlet-layout row-fluid">
					<div class="portlet-column portlet-column-only span12" id="column-1">
						<div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
							<div class="portlet-boundary portlet-boundary_bcccontentportlet_WAR_bccportalapps101BUILDSNAPSHOT_ portlet-static portlet-static-end portlet-borderless " id="p_p_id_bcccontentportlet_WAR_bccportalapps101BUILDSNAPSHOT_"> <span id="p_bcccontentportlet_WAR_bccportalapps101BUILDSNAPSHOT"></span> 
								<div class="portlet-borderless-container">