// SITE SECTIONS
// Excluded from Alpha
// @TODO: This needs a better class name
// @TODO: This *could* be separated out into two modules; services and departments

.site-sections {
  color: $grey;
  padding-top: 1.5em;
  //border-bottom: 1px solid $grey-darker;
  @extend %cf;
  margin-bottom: 2em;

  a {
    color: $white;
    @include hover-link;
  }

  .nav {
    @extend %cf;
  }

  .nav-title {
    @include font-size($h3-font-size);
    color: $grey;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  // @TODO: Refactor as .list-links?
  .lnk-list {
    margin-bottom: 0.4em;
  }

  .lnk-list li {
    @include font-size($small-font-size);
    margin-bottom: 0.5em;
  }

  @media all and (min-width: 321px) {

    .nav-services {

      .lnk-list li {
        width: 50%;
        float: left;
      }

    }

    .nav-departments {

    }

  }

}
