// WHAT TO DO
// Excluded from Alpha
// @TODO: This needs a better class name

.what-to-do {
  background: $bcc-grey-dark;
  color: $white;
  @extend %cf;
  padding: 1.5em 0;
  margin-top: -6em; // TODO: Only margin in one direction? Unrealistic...
  position: relative;
  z-index: 10;

  a {
    @include link-colors($white);
    @include hover-link;
  }

  .module-title {
    @include font-size($h3-font-size);
  }

  // @TODO: Refactor as .list-links?
  .lnk-list {
    @include font-size($body-font-size);

    li {

    }

  }

}//what-to-do {

