{% block page %}

  {% assign page_title = 'Successfully activated | Create account' %}
  {% assign ribbon = 'ico-user' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-header">

            <h1 class="content-header__title">Text explaining that the user's account is now activated</h1>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-main">

            <div class="panel panel--affirm">
              <h2 class="panel__title">Success</h2>
              <p>Your email has been verified. This is also your log in name.</p>
            </div>

            <div class="panel">
              <h2 class="panel__title">Use your account to...</h2>

              <h4 class="zeta">Advantages</h4>
              <ul>
                <li>24/7 anytime access &mdash; no need to wait on the phone or visit council offices Quickly manage payments and benefits</li>
                <li>Track your orders and check all your payments</li>
                <li>Saves you from entering your address over and over &mdash; and if you change address, you only have to tell us once No more paper bills or letters &mdash; unless you ask for them</li>
              </ul>

            </div>

            <p>
              <button type="submit" class="btn">Login <span class="ico ico-right"></span></button>
            </p>

          </div><!--/content-->

        </div><!--/grid-col-->



      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
