{{#with header}}
	{{> chrome/header}}
{{/with}}

<h1 class="pl__title">
	Emails
</h1>
<hr class="pl__rule" />

<ul>
	<li>
		<a target="_blank" href="/example/emails/bcc/change_of_email">
			Change of email
		</a>
	</li>
	<li>
		<a target="_blank" href="/example/emails/bcc/confirm_your_email">
			Confirm your email
		</a>
	</li>
	<li>
		<a target="_blank" href="/example/emails/bcc/order_new_bin">
			Order new bin
		</a>
	</li>
	<li>
		<a target="_blank" href="/example/emails/bcc/password_has_been_reset">
			Password has been reset
		</a>
	</li>
	<li>
		<a target="_blank" href="/example/emails/bcc/reset_password">
			Reset password
		</a>
	</li>
	<li>
		<a target="_blank" href="/example/emails/bcc/thanks">
			Thanks
		</a>
	</li>
	<li>
		<a target="_blank" href="/example/emails/bcc/you_created_an_account">
			You created an account
		</a>
	</li>
</ul>

{{> chrome/footer}}