// DEPRECIATED
.basket {
    .basket__header {
        @include clearfix;
        margin-bottom: 20px;
        
        .basket__title {
            font-size: 30px;
            margin: 0;
            display: block;
            float: left;
        }
        
        .basket__change {
            margin: 0;
            font-size: 16px;
            display: block;
            float: right;
        }
    }
}

.basket__list {
    margin-bottom: 40px;
    
    .basket__item {
        border: 2px solid $grey-6;
        display: block;
        margin-top: -2px;
        
        // Fake border collapse (this may be insanity...)
        &:first-child {
            margin-top: 0;
        }
    }
}

.basket__item--fields .basket__item__description {
    border-right: 0;
}

.basket__item--total .basket__item__description {
    @include respond-to(tablet, desktop) {
        border-right: 2px solid $grey-6;
    }
}

.basket__item__description {
    padding: 20px;
    
    @include respond-to(tablet, desktop) {
        position: relative;
        padding-left: 100px;
        min-height: 80px;
    }

    @include respond-to(desktop) {
        padding-left: 130px;
    }

    .basket__item__image {
        text-align: center;
        
        @include respond-to(tablet, desktop) {
            position: absolute;
            top: 15px;
            left: 10px;
        }

        img {
            width: 100%;
            max-width: 95px;
            
            @include respond-to(tablet, desktop) {
                max-width: 75px;
            }
        }
    }
    
    .basket__item__title {
        font-size: 24px;
        margin: 0;
        text-align: center;
        
        @include respond-to(tablet, desktop) {
            text-align: left;
            margin-top: 10px;
        }
    }
    
    .basket__item__info {
        font-size: 16px;
        text-align: center;
        
        @include respond-to(tablet, desktop) {
            text-align: left;
        }
    }
}

.basket__item__details {
    @extend %cf;
    padding: 20px;
    
    @include respond-to(desktop) {
        padding: 20px;
        margin-left: -20px;
        
        // Shift grid, allow for centering
        .basket__item--fields & {
            padding-right: 20px;
        }
    }

    .basket__item__field {
        margin: 11px 0 8px;
    }
    
    .basket__item__qty {
        font-size: 24px;
        margin: 10px 0;
        text-align: center;
    }
}

.basket__summary {
    margin-bottom: 40px;
    
    .basket__summary__title {
        margin-bottom: 0;
    }
    
    .basket__summary__list {
        margin-top: 0;
    }
}

.basket__actions {
    padding-bottom: 20px;
    padding-top: 10px;
}

.basket--advanced {
    .span6 {
        display: none;
    }
    
    .basket__item--is-selected {
        background: $grey-6;
        
        .span6 {
            display: block;
        }
    }
    
    .basket__item__field--old {
        display: none;
    }
    
    .basket__item__field--hide {
        display: none;
    }
}

.basket--with-checks {
    @include respond-to(desktop) {
        .basket__item {
            background: url("../images/waste/1by1-border.png") repeat-y 11.1111% 0;
        }
        
        .basket__item--is-selected {
            background: $grey-6 url("../images/waste/1by1-border.png") repeat-y 11.1111% 0;
        }
    }
}

.basket__item__is-disabled {
    border: 2px solid $bcc-red;
    
    .basket__item__title,
    .basket__item__info {
        color: $bcc-red;
    }
}

.js {
    // with js enabled
    .basket__item {
        .span1 {
            position: relative;
            margin-bottom: 30px;
        }
        
        @include respond-to(desktop) {
            .span1 {
                width: 11.111111%;
                margin-left: 0;
                margin-bottom: 15px;
            }
            
            & > .row-fluid > .span5, 
            & > .row-fluid > .span6 {
                margin-left: 0;
                width: 44.444444%;
            }
        }

        @include respond-to(desktop, tablet) {
            .basket__item__description {
                padding-left: 100px;
            }
        }

        .uniform__checkbox.uniform__checkbox--large {
            margin-left: -15px;
            left: 50%;
            top: 30px;
        }
    }
    
    .basket__item__description {
        padding-left: 20px;
    }
}

.aui .basket--advanced .basket__item__field--old {
    .uniform__checkbox {
        position: relative;
        margin-right: 10px;
    }
}

.form__item.form__item--boolean {
    .uniform__checkbox {
        position: relative;
        margin-right: 10px;
    }
}
