{{>chrome/header}}


<div class="portlet-body">
    <form id="create_account" class="form js--validate js--foi-request" action="http://localhost:8383/fileupload" method="post" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span8">
                <h1> Make a freedom of information (FOI) request </h1>
                <div class="form__item" id="field-enquiry">
                    <label for="enquiry" class="form__item__label">Your request <span class="form__item__label__instructions">Try to be specific, for example</span>
                    </label>
                    <div class="guideline"><strong>"Total amount spent on road maintenance in 2013" <span class="guideline__status guideline__status--affirmed"><span class="icon icon--bcc icon--bcc--tick guideline__status__icon"></span> Good</strong>
                        </span>
                        <br/><strong>"All information about roads" <span class="guideline__status guideline__status--rejected"><span class="icon icon--bcc icon--bcc--cross guideline__status__icon"></span> Too general</strong>
                        </span>
                    </div>
                    <textarea id="enquiry" name="enquiry" class="form__item__field form__item__field--string form__item__field--textarea" required="required" rows="6"></textarea>
                    <div class="form__item__message form__item__message--error" aria-hidden="true"> Enter your request </div>
                </div>
                <div class="docupload" id="doc1">
                    <h4 class="docupload__heading">Upload any documents that relate to your request</h4><span class="docupload__subheading">Maximum 10MB per file. Supported files: doc, docx, pdf, xls, xlsx, jpg</span>
                    <div class="docupload__body">
                        <div class="docupload__file">
                            <input type="file" id="files[0]" name="files[0]" />
                        </div>
                        <div class="docupload__file">
                            <input type="file" id="files[1]" name="files[1]" />
                        </div>
                        <div class="docupload__file">
                            <input type="file" id="files[2]" name="files[2]" />
                        </div>
                        <div class="docupload__file">
                            <input type="file" id="files[3]" name="files[3]" />
                        </div>
                        <div class="docupload__file">
                            <input type="file" id="files[4]" name="files[4]" />
                        </div>
                    </div>
                    <div class="docupload__tiptype">Upload selected files to attach them to your message</div>
                    <div class="docupload__error">You may only upload a maximum of 5 files</div>
                    <div class="form__actions">
                        <button name="_eventId_upload" type="submit" class="cta cta-primary js--prevent-double js--prevent-double">Upload all files</button>
                    </div>
                </div>
            </div>
            <div class="span4"></div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <hr/>
                <div class="docupload" id="doc2">
                    <h4 class="docupload__heading">Upload any documents that relate to your request</h4><span class="docupload__subheading">Maximum 10MB per file. Supported files: doc, docx, pdf, xls, xlsx, jpg</span>
                    <div class="docupload__body">
                        <div class="docupload__file">
                            <input type="file" id="files[0]" name="files[0]" />
                        </div>
                        <div class="docupload__file">
                            <input type="file" id="files[1]" name="files[1]" />
                        </div>
                        <div class="docupload__file">
                            <input type="file" id="files[2]" name="files[2]" />
                        </div>
                    </div>
                    <div class="docupload__tiptype">Upload selected files to attach them to your message</div>
                    <div class="docupload__error">You may only upload a maximum of 3 files</div>
                    <div class="form__actions">
                        <button name="_eventId_upload" type="submit" class="cta cta-primary js--prevent-double js--prevent-double">Upload all files</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <h2>Your details</h2>
                <div class="form__item" id="field-title">
                    <label class="form__item__label" for="ff-title">Title</label>
                    <select id="ff-title" name="title" class="form__item__field form__item__field--select form__item__field--select--inline " required="required">
                        <option value="none">Select option</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div class="form__item__message form__item__message--error" aria-hidden="true"> Choose a title </div>
                </div>
                <div class="form__item" id="field-firstname">
                    <label class="form__item__label" for="firstname"> First name </label>
                    <input id="firstname" name="firstName" class="form__item__field form__item__field--string " required="required" type="text" value="" maxlength="100" />
                    <div class="form__item__message form__item__message--error" aria-hidden="true"> Enter your first name </div>
                </div>
                <div class="form__item" id="field-lastname">
                    <label class="form__item__label" for="lastname"> Last name </label>
                    <input id="lastname" name="lastName" class="form__item__field form__item__field--string " required="required" type="text" value="" maxlength="100" />
                    <div class="form__item__message form__item__message--error" aria-hidden="true"> Enter your last name </div>
                </div>
                <div class="form__item" id="field-organisation">
                    <label class="form__item__label" for="organisation"> Your organisation <span class="form__item__label__option">(optional)</span>
                    </label>
                    <input id="organisation" name="organisation" class="form__item__field form__item__field--string " type="text" value="" maxlength="100" />
                    <div class="form__item__message form__item__message--error" aria-hidden="true"></div>
                </div>
                <div class="js--controls-group">
                    <div class="form__item form__item--1of2 js--controls--showing" id="field-emailAddress">
                        <div class="form__item form__item--1of2 js--controls--showing" id="field-emailAddress">
                            <label class="form__item__label" for="email"> Email <span class="form__item__label__instructions">We normally send our response by email.</span>
                            </label>
                            <input id="email" name="emailAddress" pattern="\w+([-+.&#39;]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" class="form__item__field form__item__field--string js--required" type="text" value="" />
                            <div class="form__item__message form__item__message--error" aria-hidden="true"> Please enter a valid email </div>
                        </div>
                    </div>
                    <fieldset class="form__item form__item--group form__item--2of2" id="field-emailCheckbox">
                        <legend class="form__item__label hidden"> Email address </legend>
                        <label class="form__item__label form__item__label--group" for="ff-confirm-have-email">
                            <input id="ff-confirm-have-email" name="dontHaveEmail" data-show="field-addrintro field-address1 field-address2 field-address3 field-address4 field-postcode field-country field-other" class="form__item__field form__item__field--checkbox js--controls--email" data-hide="field-emailAddress" type="checkbox" value="true" />
                            <input type="hidden" name="_dontHaveEmail" value="on" /> I don't have an email address </label>
                    </fieldset>
                    <div id="field-addrintro" class="form__item js--controls--hiding">
                        <h3> Your address (optional) </h3>
                    </div>
                    <div class="form__item js--controls--hiding" id="field-address1">
                        <label class="form__item__label" for="address1"> House name or number </label>
                        <input id="address1" name="address1" class="form__item__field form__item__field--string js--required" type="text" value="" maxlength="100" />
                        <div class="form__item__message form__item__message--error" aria-hidden="true"> Please enter your address </div>
                    </div>
                    <div class="form__item js--controls--hiding" id="field-address2">
                        <label class="form__item__label" for="address2"> Address line 1 </label>
                        <input id="address2" name="address2" class="form__item__field form__item__field--string js--required" type="text" value="" maxlength="100" />
                        <div class="form__item__message form__item__message--error" aria-hidden="true"> Please enter your street </div>
                    </div>
                    <div class="form__item js--controls--hiding" id="field-address3">
                        <label class="form__item__label" for="address3"> Address line 2 <span class="form__item__label__option">(optional)</span>
                        </label>
                        <input id="address3" name="address3" class="form__item__field form__item__field--string " type="text" value="" maxlength="100" />
                        <div class="form__item__message form__item__message--error" aria-hidden="true"></div>
                    </div>
                    <div class="form__item js--controls--hiding" id="field-address4">
                        <label class="form__item__label" for="address4"> Postal town / region </label>
                        <input id="address4" name="address4" class="form__item__field form__item__field--string js--required" type="text" value="" maxlength="100" />
                        <div class="form__item__message form__item__message--error" aria-hidden="true"> Please enter your town </div>
                    </div>
                    <div class="form__item js--controls--hiding" id="field-postcode">
                        <label class="form__item__label" for="postCode"> Postcode, postal code or ZIP </label>
                        <input id="postCode" name="postCode" class="form__item__field form__item__field--string form__item__field--small js--required" type="text" value="" />
                        <div class="form__item__message form__item__message--error" aria-hidden="true"> Please enter the postcode. </div>
                    </div>
                    <div class="form__item js--controls--hiding" id="field-country">
                        <label class="form__item__label" for="ff-country">Country</label>
                        <select id="ff-country" name="country" class="form__item__field form__item__field--select form__item__field--select--block js--controls--country">
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="other">Other</option>
                        </select>
                        <div class="form__item__message form__item__message--error" aria-hidden="true"> Please select a country </div>
                    </div>
                    <div class="form__item js--controls--other" id="field-other">
                        <label class="form__item__label" for="otherCountry"> If not in the UK, which country are you in? </label>
                        <input id="otherCountry" name="otherCountry" class="form__item__field form__item__field--string js--required" type="text" value="" />
                        <div class="form__item__message form__item__message--error" aria-hidden="true"> Please enter a country </div>
                    </div>
                </div>
                <div class="form__actions">
                    <button name="_eventId_preview" type="submit" class="cta cta--icon cta--next cta--primary js--prevent-double" data-primary-submit>Preview your request</button>
                </div>
            </div>
            <div class="span4"></div>
        </div>
    </form>
</div>


















<!--
    <h1>File Upload Progress Demo #1</h1>
	<code>&lt;input type="file" name="myfile"&gt;</code>
	    <form action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile"><br>
        <input type="submit" value="Upload File to Server">
    </form>
    
    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
    
    <div id="status"></div>
   -->
<script>
/*
(function() {
    
var bar = $('.bar');
var percent = $('.percent');
var status = $('#status');
   
$('form').ajaxForm({
    beforeSend: function() {
        status.empty();
        var percentVal = '0%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
    success: function() {
        var percentVal = '100%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
	complete: function(xhr) {
		status.html(xhr.responseText);
	}
}); 

})(); 
*/      
</script>

{{> chrome/footer}}
<!-- <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script> -->