{% block page %}

  {% assign page_title = 'Change password | Account' %}
  {% assign ribbon = 'ico-user' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-header">

            <h1 class="content-header__title">Change password</h1>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-main">

            <form method="post" action="#" class="form js-validation" id="form-4">

              <div class="form__feedback form__feedback--failure">

                <h2 class="form__feedback__title"><span class="ico ico-attention ico--first"></span> Please check the following</h2>

                <div class="form__feedback__summary">
                  <ul class="form__feedback__summary__list">
                    <li><a href="#ff-text-password">Current Password</a></li>
                    <li><a href="#ff-text-password-new">New password</a></li>
                    <li><a href="#ff-text-password-confirm">Type password again</a></li>
                  </ul>
                </div><!--/form__feedback__summary-->

              </div>

              <div class="form__item form__item--string form__item--backend-error">
                <label class="form__label" for="ff-text-password">Current password <span class="form__label__asterix">*</span></label>
                <input class="form__field form__field--string form__field--password-strength" type="password" name="" placeholder="" id="ff-text-password" />
                <div class="form__item__error">
                  <span class="ico ico-attention"></span>The password you have entered does not match your current one. Try again, or <a href="#">reset your password</a> if you have forgotten it.
                </div>
              </div><!--/form__item-->

              <div class="form__item form__item--string form__item--backend-error">
                <label for="ff-text-password" class="form__label">New Password <span class="form__label__asterix">*</span></label>
                <input type="password" pattern="\d{10}" data-error-message="Please enter a valid password" id="ff-text-password-new" placeholder="" name="" class="form__field form__field--string form__field--password-strength">
                <span class="form__note">10 digit number</span>
              </div><!--/form__item-->

              <div class="form__item form__item--string form__item--backend-error">
                <label for="ff-text-password-confirm" class="form__label">Type password again <span class="form__label__asterix">*</span></label>
                <input type="password" data-error-message="This password must match the above password" data-match="ff-text-password-new" id="ff-text-password-confirm" placeholder="" name="" class="form__field form__field--string form__field--match">
                <span class="form__note">Must match above password</span>
              </div><!--/form__item-->

              <div class="form__actions">
                <button name="" type="submit" class="btn btn--primary">Save changes</button>
              </div>

            </form>

          </div><!--/content-->

        </div><!--/grid-col-->



      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
