{% block page %}

  {% assign page_title = 'Change home address | Account' %}
  {% assign ribbon = 'ico-user' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-header">

            <h1 class="content-header__title">Change home address</h1>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-five-sixths desktop-grid-offset-one-sixth">

          <div class="content content-main">

            <div class="panel">

              <h2 class="panel__title">Current address</h2>

              <p>123 Somewhere Road, Bristol, BS6 5AA.</p>

            </div><!--/panel-->

            {% comment %}<h2 class="panel__title">Change address</h2>{% endcomment %}

            <form method="post" action="#" class="form form--validate" id="form-4">

              <div class="form__item form__item--string-action">
                <label class="form__label">Enter postcode</label>
                <input class="form__field form__field--string" type="text" name="" value="BS6 5AA" />
                <button class="btn btn--secondary" type="submit">Lookup Address</button>
              </div><!--/form__item-->

            <div class="form__item form__item--select">
              <select name="" class="form__field form__field--select">
                <option>Please select...</option>
                <option selected="selected">19 Redland Road, Bristol, BS6 5AA</option>
                <option>20 Redland Road, Bristol, BS6 5AA</option>
              </select>
            </div>

              <div class="form__actions">
                <button name="" type="submit" class="btn btn--primary">Save changes</button>
              </div>

            </form>

          </div><!--/content-->

        </div><!--/grid-col-->



      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
