{% block page %}

  {% assign page_title = 'Bin collection information' %}
  {% assign ribbon = 'ico-bin' %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="grid-wrap">

        <div class="grid-col desktop-grid-two-thirds">

          <div class="content content-header">

            <h1 class="content-header__title">Bin collection information</h1>

          </div><!--/content-->


          <div class="content content-main">

            <p class="lead">Aenean nec elementum sapien. Sed eleifend feugiat vestibulum. Curabitur porttitor vestibulum risus sed bib endum. Vestibulum mi orci vulp utate sed tempor rutrum ornare ac nisi.</p>

            <p>Aenean nec elementum sapien. Sed eleifend feugiat vestibulum. Curabitur porttitor vestibulum risus sed bibendum. Vestibulum mi orci, vulputate sed tempor rutrum, ornare ac nisi. Praesent sagittis sit amet sapien vel accumsan. Sed at egestas dolor. Sed vitae volutpat nunc. Morbi iaculis leo viverra, porta sapien at, semper massa. Vestibulum tincidunt dictum mi, ut pellentesque neque facilisis vel. Praesent a hendrerit neque.</p>

            <h2>Lorem ipsum sub heading 1</h2>

            <p>Nulla facilisi. Vivamus eget consectetur lacus. Curabitur accumsan blandit tempus. Phasellus nunc arcu, facilisis condimentum rutrum sed, sagittis ut ligula. Sed gravida sagittis neque at tristique. Praesent accumsan leo quis mi mattis elementum. Etiam sed vehicula velit. Quisque eget nibh eu nulla consectetur viverra vitae et ante. Duis porttitor lectus non sem accumsan laoreet.</p>

            <h2>Dolor sit amet sub heading 2</h2>

            <p>In mattis enim sed eros laoreet cursus ut molestie purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam eget libero eget lorem tempus scelerisque. Suspendisse blandit, turpis sed convallis viverra, magna neque porttitor mi, vitae feugiat dolor mauris ac felis. Suspendisse placerat rhoncus sapien sit amet cursus. Vestibulum ut mi mauris.</p>

          </div><!--/content-->

        </div><!--/grid-col-->

      </div><!--/grid-wrap-->

    </div><!--/layout-->

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
