<form action="" class="form">

<div id="parking__permit-details" class="js--permitTotal">
			
	<!-- START .permit #4 -->
	<div class="permit js--matchHeight">
		<div class="permit__inner">
			<div class="permit__intro">
				<h2>
					Permit #37172
				</h2>
				<p>
					Expires: 31st October 2014
				</p>		
			</div>		
			
			<div class="reg veh veh--affirm" data-mh="level5">
				<strong>EF03 BYW</strong> 
				<span>
					Class C
				</span>
			</div>
			
			<div class="reg veh veh--affirm" data-mh="level6">
				<strong>EF03 BYW</strong> 
				<span>
					Class C
				</span>
			</div>
			
			<fieldset class="form__item form__item--group">
			   	<legend class="form__item__label">
			   		Choose permit duration
			   	</legend>
				<label for="radios1" class="form__item__label form__item__label--group label--radio">
					<input checked="" id="radios1" class="form__item__field form__item__field--radio" name="group1" type="radio" value="FREE">1 year <strong>£96</strong>
				</label>
			  	<label for="radios2" class="form__item__label form__item__label--group label--radio">
			  		<input id="radios2" class="form__item__field form__item__field--radio" name="group1" type="radio" value="200">3 months <strong>£200</strong>
			  	</label>
			</fieldset>
			
			<div class="permit__summary">
				<p>
					<strong>Renewal permit valid from</strong>
					<br>
					1st November 2014 to 1st November 2015
				</p>
			</div>
		</div>
	</div>
	<!-- END .permit #4 -->
				
	<!-- START .permit #5 -->
	<div class="permit permit--complete js--matchHeight">
		<div class="permit__inner">
			<div class="permit__intro">
				<h2>
					Permit #37145
				</h2>
				<p>
					Expires: 15th December 2014
				</p>		
			</div>		
			
			<div class="reg veh" data-mh="level5">
				<strong>EF03 BYW</strong> 
				<span>
					Class C
				</span>
			</div>
			
			<div class="reg veh" data-mh="level6">
				<strong>EF03 BYW</strong> 
				<span>
					Class C
				</span>
			</div>
			
			
			<div class="permit__summary">
				<p>
					<strong>This permit is currently unavailable for renewal</strong>
				</p>
				<p>
					It will be available on <strong>15h November 2014</strong>
				</p>
			</div>
		</div>
	</div>
	<!-- END .permit #5 -->
			
	<!-- START .permit #6 -->
	<div class="permit permit--complete js--matchHeight">
		<div class="permit__inner">

			<div class="permit__intro">
				<h2>
					Permit #43129
				</h2>
				<p>
					Expires: 15th December 2014
				</p>	
			</div>			
			
			<div class="reg veh" data-mh="level5">
				<strong>EF03 BYW</strong> 
				<span>
					Class C
				</span>
			</div>
			
			<div data-mh="level6">
				&nbsp;
			</div>
			
			<div class="permit__summary">
				<p>
					<strong>This permit is currently unavailable for renewal</strong>
				</p>
				<p>
					Please <a href="">apply for a new permit</a>
				</p>
			</div>
		</div>
	</div>
	<!-- END .permit #6 -->
</div>

</form>