<table class="table table--collapse js--collapse-table">
	<tbody>
		<tr class="table__row--header">
			<th>Description</th>
			<th class="table__col--details">Details</th>
			<th class="table__col--last">Cost</th>
		</tr>
		
		<tr>
			<td class="table__col--description">
				<strong>First permit [two cars]</strong>
			</td>
			<td class="table__col--details">
				<div>
					<strong>TR28 DSA</strong>
					<br>
					Class A
				</div>
				<div>
					<strong>TR28 DSA</strong>
					<br>
					Class A
				</div>
			</td>
			<td class="table__col--last">
				<strong>FREE</strong>
			</td>
		</tr>
		<tr class="table__row--quantities">
			<td colspan="3">
				<a href="" title="Change quantities of permits"> Change quantities of items </a>
			</td>
		</tr>
		<tr>
			<td>
				<strong>Free visitor permits</strong>
			</td>
			<td class="table__col--details">
				<strong>50</strong>
			</td>
			<td class="table__col--last">
				<strong>FREE</strong>
			</td>
		</tr>
		
		<tr class="table__row--quantities">
			<td colspan="3">
				<a href="" title="Change quantities of permits"> Change quantities of items </a>
			</td>
		</tr>
		<tr class="table__row--total table__row--total--affirm">
			<td colspan="3">
				Total: <strong>£111.00</strong>
				<br>
				<small class="light">
					The total does not include the extra charge if you paid by credit card
				</small>
			</td>
		</tr>
	</tbody>
</table>