{% block page %}

  {% assign page_title = 'Icons' %}
  {% assign theme = false %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="content content-main">

        <h1>Icons</h1>

        <p>
          A list of all icons used on the website.
        </p>

        <table>
          <thead>
            <tr>
              <th>
                <strong>Name</strong>
              </th>
              <th>
                Normal
              </th>
              <th>
                <strong class="gamma">--Large</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-pdf
              </td>
              <td>
                <span class="ico ico-pdf"></span>
              </td>
              <td>
                <span class="ico ico-pdf ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-user
              </td>
              <td>
                <div class="ico ico-user"></div>
              </td>
              <td>
                <div class="ico ico-user ico--large"></div>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-attention
              </td>
              <td>
                <span class="ico ico-attention"></span>
              </td>
              <td>
                <span class="ico ico-attention ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-bin
              </td>
              <td>
                <span class="ico ico-bin"></span>
              </td>
              <td>
                <span class="ico ico-bin ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-up
              </td>
              <td>
                <span class="ico ico-up"></span>
              </td>
              <td>
                <span class="ico ico-up ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-right
              </td>
              <td>
                <span class="ico ico-right"></span>
              </td>
              <td>
                <span class="ico ico-right ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-down
              </td>
              <td>
                <span class="ico ico-down"></span>
              </td>
              <td>
                <span class="ico ico-down ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-left
              </td>
              <td>
                <span class="ico ico-left"></span>
              </td>
              <td>
                <span class="ico ico-left ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-check
              </td>
              <td>
                <span class="ico ico-check"></span>
              </td>
              <td>
                <span class="ico ico-check ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-cancel
              </td>
              <td>
                <span class="ico ico-cancel"></span>
              </td>
              <td>
                <span class="ico ico-cancel ico--large"></span>
              </td>
            </tr>

            <!-- -->
            <tr class="list-table__row">
              <td>
                .ico-cog
              </td>
              <td>
                <span class="ico ico-cog"></span>
              </td>
              <td>
                <span class="ico ico-cog icon-large"></span>
              </td>
            </tr>
          </tbody>
        </table>




      </div><!--/content-->

    </div>

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
