<div class="docupload docupload--preview">
    <h4 class="docupload__heading">Upload any documents that relate to your request</h4>
    <span class="docupload__subheading">Maximum 5MB per file. Supported files: xxx, xxx, xxx</span>
    <div class="docupload__body">
        <div class="docupload__file">
            <input type="file" />
        </div>
    </div>
    <div class="docupload__tiptype">Upload selected files to attach them to your mesage</div>
    <div class="docupload__error">Please choose a file before uploading</div>
    <input type="submit" class="cta cta-primary js--prevent-double" value="Upload all files" />

</div>