/* ======================================================
   BETA HEADER
   ======================================================*/

.beta-header {
  background: $pale-yellow;
  .layout {
    position: relative;
  }
}

.beta-header__content {
  @include rem(margin-left,15);
  @include rem(padding,15 0 15 50);
  @include respond-min($bp-tablet-min) {
    @include rem(padding,32 0 32 80);
  }
}

.beta-header__title {
  color: $bcc-red;
  font-family: $font-bold;
  @include font-size($body-font-size);
  @include respond-min($bp-tablet-min) {
    @include font-size($h4-font-size);
  }
  margin-bottom: 0;
  span {
    text-transform: uppercase;
    color: $dark-grey;
  }
}

.beta-header__copy {
  @include font-size(16);
  margin-bottom: 0;
  a {
    color: $bcc-blue-dark;
  }
}
