{{> chrome/header.v1}}

{{# project.mugs.leadin }}

	<!--START Layout -->
	<div class="bcc_2col1col_alt alternative" id="main-content" role="main" tabindex="-1">
		<div class="portlet-layout row-fluid">
			<div class="portlet-column portlet-column-first span8 priority--secondary" id="column-1">		
				<!--START Portlet -->
				<!--START Portlet -->
				<!--START Portlet -->
				
				

				<h1>{{h1}}</h1>
				
				{{# lead}}
					{{> tags/type/lead }}
				{{/ lead }}

				{{> tags/type/ul }}
				
				{{> tags/type/h2 }}
					

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mauris ac sapien lacinia vehicula consectetur sit amet turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit lacus blandit. Praesent et sagittis ante.
				</p>
				
				<hr />

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mauris ac sapien lacinia vehicula consectetur sit amet turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit lacus blandit. Praesent et sagittis ante.
				</p>

				{{> tags/buttons/cta_link modifiers="newcta--primary" label="Get some mugs" link="/example/project/mugs/custom-a"}}

				<!--END Portlet -->
				<!--END Portlet -->
				<!--END Portlet -->
			</div>
			<div class="portlet-column portlet-column-last span4 side priority--primary" id="column-2">
				<!--START Portlet -->
				<!--START Portlet -->
				<!--START Portlet -->

				<div class="slate slate--primary">
					<h2 class="slate__title">
						Sign in to make this quicker
					</h2>
					<div class="slate__copy">
						<p>
							If you have a Bristol Account, sign in and we'll fill in some of the form for you.
						</p>
						<p>
							{{> tags/buttons/cta_link }}
						</p>
					</div>
				</div>

				<!--END Portlet -->
				<!--END Portlet -->
				<!--END Portlet -->
			</div>
		</div>
	</div>
	<!--END Layout -->

{{/ project.mugs.leadin }}

{{> chrome/footer.v2}}
