/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'fontawesome-alloy';
  /*src: url("aui/alloy-font-awesome/font/fontawesome-alloy.eot");*/
  src: url("aui/alloy-font-awesome/font/fontawesome-alloy.eot?#iefix") format("embedded-opentype"), url("aui/alloy-font-awesome/font/fontawesome-alloy.woff") format("woff"), url("aui/alloy-font-awesome/font/fontawesome-alloy.ttf") format("truetype"), url("aui/alloy-font-awesome/font/fontawesome-alloy.svg#fontawesome-alloy") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  
  background-color: white;
  color: #333333;
  font-family: "Thesans-Semi-Light", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0; }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section {
    display: block; }
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  audio:not([controls]) {
    display: none; }
  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  a:hover,
  a:active {
    outline: 0; }
  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline; }
  sup {
    top: -0.5em; }
  sub {
    bottom: -0.25em; }
  img {
    /* Responsive images (ensure images don't scale beyond their parents) */
    max-width: 100%;
    /* Part 1: Set a maxium relative to the parent */
    width: auto\9;
    /* IE7-8 need help adjusting responsive images */
    height: auto;
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic; }
  #map_canvas img,
  .google-maps img {
    max-width: none; }
  button,
  input,
  select,
  textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle; }
  button,
  input {
    *overflow: visible;
    line-height: normal; }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }
  label,
  select,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer; }
  input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }
  textarea {
    overflow: auto;
    vertical-align: top; }
  @media print {
    {
      
 }
      * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important; }
      a,
      a:visited {
        text-decoration: underline; }
      a[href]:after {
        content: " (" attr(href) ")"; }
      abbr[title]:after {
        content: " (" attr(title) ")"; }
      .ir a:after,
      a[href^="javascript:"]:after,
      a[href^="#"]:after {
        content: ""; }
      pre,
      blockquote {
        border: 1px solid #999;
        page-break-inside: avoid; }
      thead {
        display: table-header-group; }
      tr,
      img {
        page-break-inside: avoid; }
      img {
        max-width: 100% !important; }
      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3; }
      h2,
      h3 {
        page-break-after: avoid; } }
  body {
    margin: 0;
    font-family: "Thesans-Semi-Light", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    background-color: white; }
  a {
    color: #274d8b;
    text-decoration: none; }
  a:hover,
  a:focus {
    color: #386ec7;
    text-decoration: underline; }
  .row {
    margin-left: -20px;
    *zoom: 1; }
    .row:before, .row:after {
      display: table;
      content: "";
      line-height: 0; }
    .row:after {
      clear: both; }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px; }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px; }
  .span4 {
    width: 300px; }
  .span8 {
    width: 620px; }
  .span12 {
    width: 940px; }
  .row-fluid {
    width: 100%;
    *zoom: 1; }
    .row-fluid:before, .row-fluid:after {
      display: table;
      content: "";
      line-height: 0; }
    .row-fluid:after {
      clear: both; }
    .row-fluid [class*="span"] {
      display: block;
      width: 100%;
      min-height: 32px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-left: 2.12766%;
      *margin-left: 2.07447%; }
    .row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .row-fluid .controls-row [class*="span"] + [class*="span"] {
      margin-left: 2.12766%; }
    .row-fluid .span1 {
      width: 6.38298%;
      *width: 6.32979%; }
    .row-fluid .span2 {
      width: 14.89362%;
      *width: 14.84043%; }
    .row-fluid .span3 {
      width: 23.40426%;
      *width: 23.35106%; }
    .row-fluid .span4 {
      width: 31.91489%;
      *width: 31.8617%; }
    .row-fluid .span5 {
      width: 40.42553%;
      *width: 40.37234%; }
    .row-fluid .span6 {
      width: 48.93617%;
      *width: 48.88298%; }
    .row-fluid .span7 {
      width: 57.44681%;
      *width: 57.39362%; }
    .row-fluid .span8 {
      width: 65.95745%;
      *width: 65.90426%; }
    .row-fluid .span9 {
      width: 74.46809%;
      *width: 74.41489%; }
    .row-fluid .span10 {
      width: 82.97872%;
      *width: 82.92553%; }
    .row-fluid .span11 {
      width: 91.48936%;
      *width: 91.43617%; }
    .row-fluid .span12 {
      width: 100%;
      *width: 99.94681%; }
    .row-fluid .offset1 {
      margin-left: 10.6383%;
      *margin-left: 10.53191%; }
    .row-fluid .offset1:first-child {
      margin-left: 8.51064%;
      *margin-left: 8.40426%; }
    .row-fluid .offset2 {
      margin-left: 19.14894%;
      *margin-left: 19.04255%; }
    .row-fluid .offset2:first-child {
      margin-left: 17.02128%;
      *margin-left: 16.91489%; }
    .row-fluid .offset3 {
      margin-left: 27.65957%;
      *margin-left: 27.55319%; }
    .row-fluid .offset3:first-child {
      margin-left: 25.53191%;
      *margin-left: 25.42553%; }
    .row-fluid .offset4 {
      margin-left: 36.17021%;
      *margin-left: 36.06383%; }
    .row-fluid .offset4:first-child {
      margin-left: 34.04255%;
      *margin-left: 33.93617%; }
    .row-fluid .offset5 {
      margin-left: 44.68085%;
      *margin-left: 44.57447%; }
    .row-fluid .offset5:first-child {
      margin-left: 42.55319%;
      *margin-left: 42.44681%; }
    .row-fluid .offset6 {
      margin-left: 53.19149%;
      *margin-left: 53.08511%; }
    .row-fluid .offset6:first-child {
      margin-left: 51.06383%;
      *margin-left: 50.95745%; }
    .row-fluid .offset7 {
      margin-left: 61.70213%;
      *margin-left: 61.59574%; }
    .row-fluid .offset7:first-child {
      margin-left: 59.57447%;
      *margin-left: 59.46809%; }
    .row-fluid .offset8 {
      margin-left: 70.21277%;
      *margin-left: 70.10638%; }
    .row-fluid .offset8:first-child {
      margin-left: 68.08511%;
      *margin-left: 67.97872%; }
    .row-fluid .offset9 {
      margin-left: 78.7234%;
      *margin-left: 78.61702%; }
    .row-fluid .offset9:first-child {
      margin-left: 76.59574%;
      *margin-left: 76.48936%; }
    .row-fluid .offset10 {
      margin-left: 87.23404%;
      *margin-left: 87.12766%; }
    .row-fluid .offset10:first-child {
      margin-left: 85.10638%;
      *margin-left: 85.0%; }
    .row-fluid .offset11 {
      margin-left: 95.74468%;
      *margin-left: 95.6383%; }
    .row-fluid .offset11:first-child {
      margin-left: 93.61702%;
      *margin-left: 93.51064%; }
    .row-fluid .offset12 {
      margin-left: 104.25532%;
      *margin-left: 104.14894%; }
    .row-fluid .offset12:first-child {
      margin-left: 102.12766%;
      *margin-left: 102.02128%; }
  [class*="span"].hide,
  .row-fluid [class*="span"].hide {
    display: none; }
  [class*="span"].pull-right,
  .row-fluid [class*="span"].pull-right {
    float: right; }
  .container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1; }
    .container:before, .container:after {
      display: table;
      content: "";
      line-height: 0; }
    .container:after {
      clear: both; }
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1; }
    .container-fluid:before, .container-fluid:after {
      display: table;
      content: "";
      line-height: 0; }
    .container-fluid:after {
      clear: both; }
  p {
    margin: 0 0 11px; }
  .lead {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 200;
    line-height: 33px; }
  small {
    font-size: 85%; }
  strong {
    font-weight: bold; }
  em {
    font-style: italic; }
  cite {
    font-style: normal; }
  .muted {
    color: #999999; }
  a.muted:hover,
  a.muted:focus {
    color: gray; }
  h1, h2, h3, h4, h5, h6 {
    margin: 11px 0;
    font-family: "Thesans-Bold", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    line-height: 22px;
    color: inherit;
    text-rendering: optimizelegibility; }
    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
      font-weight: normal;
      line-height: 1;
      color: #999999; }
  h1,
  h2,
  h3 {
    line-height: 44px; }
  h1 {
    font-size: 44px; }
  h2 {
    font-size: 36px; }
  h3 {
    font-size: 28px; }
  h4 {
    font-size: 20px; }
  h5 {
    font-size: 16px; }
  h6 {
    font-size: 13.6px; }
  h1 small {
    font-size: 28px; }
  h2 small {
    font-size: 20px; }
  h3 small {
    font-size: 16px; }
  h4 small {
    font-size: 16px; }
  .page-header {
    padding-bottom: 10px;
    margin: 22px 0 33px;
    border-bottom: 1px solid #eeeeee; }
  ul, ol {
    padding: 0;
    margin: 0 0 11px 25px; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0; }
  li {
    line-height: 22px; }
  ul.unstyled,
  ol.unstyled {
    margin-left: 0;
    list-style: none; }
  ul.inline,
  ol.inline {
    margin-left: 0;
    list-style: none; }
    ul.inline > li,
    ol.inline > li {
      display: inline-block;
      *display: inline;
      /* IE7 inline-block hack */
      *zoom: 1;
      padding-left: 5px;
      padding-right: 5px; }
  dl {
    margin-bottom: 22px; }
  dt,
  dd {
    line-height: 22px; }
  dt {
    font-weight: bold; }
  dd {
    margin-left: 11px; }
  hr {
    margin: 22px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white; }
  abbr[title],
  abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999999; }
  abbr.initialism {
    font-size: 90%;
    text-transform: uppercase; }
  blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 22px;
    border-left: 5px solid #eeeeee; }
    blockquote p {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.25; }
    blockquote small {
      display: block;
      line-height: 22px;
      color: #999999; }
      blockquote small:before {
        content: '\2014 \00A0'; }
    blockquote.pull-right {
      float: right;
      padding-right: 15px;
      padding-left: 0;
      border-right: 5px solid #eeeeee;
      border-left: 0; }
      blockquote.pull-right p,
      blockquote.pull-right small {
        text-align: right; }
      blockquote.pull-right small:before {
        content: ''; }
      blockquote.pull-right small:after {
        content: '\00A0 \2014'; }
  q:before,
  q:after,
  blockquote:before,
  blockquote:after {
    content: ""; }
  address {
    display: block;
    margin-bottom: 22px;
    font-style: normal;
    line-height: 22px; }
  code,
  pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap; }
  pre {
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 15px;
    line-height: 22px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    pre.prettyprint {
      margin-bottom: 22px; }
    pre code {
      padding: 0;
      color: inherit;
      white-space: pre;
      white-space: pre-wrap;
      background-color: transparent;
      border: 0; }
  .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll; }
  form {
    margin: 0 0 22px; }
  fieldset {
    padding: 0;
    margin: 0;
    border: 0; }
  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 44px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5; }
    legend small {
      font-size: 16.5px;
      color: #999999; }
  label,
  input,
  button,
  select,
  textarea {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px; }
  input,
  button,
  select,
  textarea {
    font-family: "Thesans-Semi-Light", "Helvetica Neue", Arial, sans-serif; }
  label {
    display: block;
    margin-bottom: 5px; }
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    display: inline-block;
    height: 22px;
    padding: 4px 6px;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 22px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle; }
  input,
  textarea,
  .uneditable-input {
    width: 206px; }
  textarea {
    height: auto; }
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    background-color: #eaeaea;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s; }
    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9;
      /* IE6-9 */
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
  input[type="radio"],
  input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    /* IE7 */
    margin-top: 1px \9;
    /* IE8-9 */
    line-height: normal; }
  input[type="file"],
  input[type="image"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input[type="radio"],
  input[type="checkbox"] {
    width: auto; }
  select,
  input[type="file"] {
    height: 32px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    line-height: 32px; }
  select {
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #eaeaea; }
  select[multiple],
  select[size] {
    height: auto; }
  select:focus,
  input[type="file"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .uneditable-input,
  .uneditable-textarea {
    color: #999999;
    background-color: #e7e7e7;
    border-color: #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    cursor: not-allowed; }
  .uneditable-input {
    overflow: hidden;
    white-space: nowrap; }
  .uneditable-textarea {
    width: auto;
    height: auto; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999999; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999999; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999999; }
  .radio,
  .checkbox {
    min-height: 22px;
    padding-left: 20px; }
  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px; }
  .controls > .radio:first-child,
  .controls > .checkbox:first-child {
    padding-top: 5px; }
  .radio.inline,
  .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle; }
  .radio.inline + .radio.inline,
  .checkbox.inline + .checkbox.inline {
    margin-left: 10px; }
  .input-mini {
    width: 60px; }
  .input-small {
    width: 90px; }
  .input-medium {
    width: 150px; }
  .input-large {
    width: 210px; }
  .input-xlarge {
    width: 270px; }
  .input-xxlarge {
    width: 530px; }
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid input[class*="span"],
  .row-fluid select[class*="span"],
  .row-fluid textarea[class*="span"],
  .row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0; }
  .input-append input[class*="span"],
  .input-append .uneditable-input[class*="span"],
  .input-prepend input[class*="span"],
  .input-prepend .uneditable-input[class*="span"],
  .row-fluid input[class*="span"],
  .row-fluid select[class*="span"],
  .row-fluid textarea[class*="span"],
  .row-fluid .uneditable-input[class*="span"],
  .row-fluid .input-prepend [class*="span"],
  .row-fluid .input-append [class*="span"] {
    display: inline-block; }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0; }
  input[disabled],
  select[disabled],
  textarea[disabled],
  input[readonly],
  select[readonly],
  textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee; }
  input[type="radio"][disabled],
  input[type="checkbox"][disabled],
  input[type="radio"][readonly],
  input[type="checkbox"][readonly] {
    background-color: transparent; }
  input:focus:invalid,
  textarea:focus:invalid,
  select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b; }
    input:focus:invalid:focus,
    textarea:focus:invalid:focus,
    select:focus:invalid:focus {
      border-color: #e9322d;
      -webkit-box-shadow: 0 0 6px #f8b9b7;
      -moz-box-shadow: 0 0 6px #f8b9b7;
      box-shadow: 0 0 6px #f8b9b7; }
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0; }
  .table {
    width: 100%;
    margin-bottom: 22px; }
    .table th,
    .table td {
      padding: 8px;
      line-height: 22px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dddddd; }
    .table th {
      font-weight: bold; }
    .table thead th {
      vertical-align: bottom; }
    .table caption + thead tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child th,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child th,
    .table thead:first-child tr:first-child td {
      border-top: 0; }
    .table tbody + tbody {
      border-top: 2px solid #dddddd; }
    .table .table {
      background-color: white; }
  .table-condensed th,
  .table-condensed td {
    padding: 4px 5px; }
  .table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .table-bordered th,
    .table-bordered td {
      border-left: 1px solid #dddddd; }
    .table-bordered caption + thead tr:first-child th,
    .table-bordered caption + tbody tr:first-child th,
    .table-bordered caption + tbody tr:first-child td,
    .table-bordered colgroup + thead tr:first-child th,
    .table-bordered colgroup + tbody tr:first-child th,
    .table-bordered colgroup + tbody tr:first-child td,
    .table-bordered thead:first-child tr:first-child th,
    .table-bordered tbody:first-child tr:first-child th,
    .table-bordered tbody:first-child tr:first-child td {
      border-top: 0; }
    .table-bordered thead:first-child tr:first-child > th:first-child,
    .table-bordered tbody:first-child tr:first-child > td:first-child,
    .table-bordered tbody:first-child tr:first-child > th:first-child {
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      border-top-left-radius: 4px; }
    .table-bordered thead:first-child tr:first-child > th:last-child,
    .table-bordered tbody:first-child tr:first-child > td:last-child,
    .table-bordered tbody:first-child tr:first-child > th:last-child {
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      border-top-right-radius: 4px; }
    .table-bordered thead:last-child tr:last-child > th:first-child,
    .table-bordered tbody:last-child tr:last-child > td:first-child,
    .table-bordered tbody:last-child tr:last-child > th:first-child,
    .table-bordered tfoot:last-child tr:last-child > td:first-child,
    .table-bordered tfoot:last-child tr:last-child > th:first-child {
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-left-radius: 4px; }
    .table-bordered thead:last-child tr:last-child > th:last-child,
    .table-bordered tbody:last-child tr:last-child > td:last-child,
    .table-bordered tbody:last-child tr:last-child > th:last-child,
    .table-bordered tfoot:last-child tr:last-child > td:last-child,
    .table-bordered tfoot:last-child tr:last-child > th:last-child {
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      border-bottom-right-radius: 4px; }
    .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-left-radius: 0; }
    .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0; }
    .table-bordered caption + thead tr:first-child th:first-child,
    .table-bordered caption + tbody tr:first-child td:first-child,
    .table-bordered colgroup + thead tr:first-child th:first-child,
    .table-bordered colgroup + tbody tr:first-child td:first-child {
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      border-top-left-radius: 4px; }
    .table-bordered caption + thead tr:first-child th:last-child,
    .table-bordered caption + tbody tr:first-child td:last-child,
    .table-bordered colgroup + thead tr:first-child th:last-child,
    .table-bordered colgroup + tbody tr:first-child td:last-child {
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      border-top-right-radius: 4px; }
  .table-striped tbody > tr:nth-child(odd) > td,
  .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9; }
  .table-hover tbody tr:hover > td,
  .table-hover tbody tr:hover > th {
    background-color: whitesmoke; }
  table td[class*="span"],
  table th[class*="span"],
  .row-fluid table td[class*="span"],
  .row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0; }
  .table td.span1,
  .table th.span1 {
    float: none;
    width: 44px;
    margin-left: 0; }
  .table td.span2,
  .table th.span2 {
    float: none;
    width: 124px;
    margin-left: 0; }
  .table td.span3,
  .table th.span3 {
    float: none;
    width: 204px;
    margin-left: 0; }
  .table td.span4,
  .table th.span4 {
    float: none;
    width: 284px;
    margin-left: 0; }
  .table td.span5,
  .table th.span5 {
    float: none;
    width: 364px;
    margin-left: 0; }
  .table td.span6,
  .table th.span6 {
    float: none;
    width: 444px;
    margin-left: 0; }
  .table td.span7,
  .table th.span7 {
    float: none;
    width: 524px;
    margin-left: 0; }
  .table td.span8,
  .table th.span8 {
    float: none;
    width: 604px;
    margin-left: 0; }
  .table td.span9,
  .table th.span9 {
    float: none;
    width: 684px;
    margin-left: 0; }
  .table td.span10,
  .table th.span10 {
    float: none;
    width: 764px;
    margin-left: 0; }
  .table td.span11,
  .table th.span11 {
    float: none;
    width: 844px;
    margin-left: 0; }
  .table td.span12,
  .table th.span12 {
    float: none;
    width: 924px;
    margin-left: 0; }
  .table tbody tr.success > td {
    background-color: #dff0d8; }
  .table tbody tr.error > td {
    background-color: #f2dede; }
  .table tbody tr.warning > td {
    background-color: #fcf8e3; }
  .table tbody tr.info > td {
    background-color: #d9edf7; }
  .table-hover tbody tr.success:hover > td {
    background-color: #d0e9c6; }
  .table-hover tbody tr.error:hover > td {
    background-color: #ebcccc; }
  .table-hover tbody tr.warning:hover > td {
    background-color: #faf2cc; }
  .table-hover tbody tr.info:hover > td {
    background-color: #c4e3f3; }
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/aui/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px; }
  
  

  .btn {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, white, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ededed));
    background-image: -webkit-linear-gradient(top, white, #ededed);
    background-image: -o-linear-gradient(top, white, #ededed);
    background-image: linear-gradient(to bottom, #ffffff, #ededed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED', GradientType=0);
    border-color: #ededed #ededed #c7c7c7;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #ededed;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
    .btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
      color: #333333;
      background-color: #ededed;
      *background-color: #e0e0e0; }
    .btn:active, .btn.active {
      background-color: #d4d4d4 \9; }
    .btn:first-child {
      *margin-left: 0; }
    .btn:hover, .btn:focus {
      color: #333333;
      text-decoration: none;
      background-position: 0 -15px;
      -webkit-transition: background-position 0.1s linear;
      -moz-transition: background-position 0.1s linear;
      -o-transition: background-position 0.1s linear;
      transition: background-position 0.1s linear; }
    .btn:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .btn.active, .btn:active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
    .btn.disabled, .btn[disabled] {
      cursor: default;
      background-image: none;
      opacity: 0.65;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

  .alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success {
    padding: 8px 35px 8px 14px;
    margin-bottom: 22px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success,
  .alert h4,
  .portlet-msg-alert h4,
  .portlet-msg-error h4,
  .portlet-msg-help h4,
  .portlet-msg-info h4,
  .portlet-msg-progress h4,
  .portlet-msg-success h4 {
    color: #c09853; }
  .alert h4, .portlet-msg-alert h4, .portlet-msg-error h4, .portlet-msg-help h4, .portlet-msg-info h4, .portlet-msg-progress h4, .portlet-msg-success h4 {
    margin: 0; }
  .alert .close, .portlet-msg-alert .close, .portlet-msg-error .close, .portlet-msg-help .close, .portlet-msg-info .close, .portlet-msg-progress .close, .portlet-msg-success .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 22px; }
  .alert-success, .portlet-msg-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3bb273; }
  .alert-success h4, .portlet-msg-success h4 {
    color: #3bb273; }
  .alert-danger,
  .alert-error,
  .portlet-msg-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #ea0000; }
  .alert-danger h4,
  .alert-error h4,
  .portlet-msg-error h4 {
    color: #ea0000; }
  .alert-info, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad; }
  .alert-info h4, .portlet-msg-help h4, .portlet-msg-info h4, .portlet-msg-progress h4 {
    color: #3a87ad; }
  .alert-block {
    padding-top: 14px;
    padding-bottom: 14px; }
  .alert-block > p,
  .alert-block > ul {
    margin-bottom: 0; }
  .alert-block p + p {
    margin-top: 5px; }

  
  .pull-right {
    float: right; }
  .pull-left {
    float: left; }
  .hide {
    display: none; }
  .show {
    display: block; }
  .invisible {
    visibility: hidden; }
  .affix {
    position: fixed; }
  .clearfix {
    *zoom: 1; }
    .clearfix:before, .clearfix:after {
      display: table;
      content: "";
      line-height: 0; }
    .clearfix:after {
      clear: both; }
  .hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0; }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .hide {
    display: none !important; }
  .show {
    display: block !important; }
  .hide-accessible {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
    /*Webkit and IE7 let clipped content change the scroll height of the page*/
    /*Scale webkit to 0*/
    -webkit-transform: scale(0);
    -webkit-transform-origin-x: 0px;
    -webkit-transform-origin-y: 0px;
    /*Change IE7 to using fixed*/
    *position: fixed !important;
    /*...And reset back to absolute for IE6*/
    _position: absolute !important; }
  .force-offset {
    display: block !important;
    position: absolute !important;
    visibility: hidden !important; }
  .unselectable, .unselectable * {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .scroll-lock {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%; }
  .hidden {
    display: none;
    visibility: hidden; }
  .visible-phone {
    display: none !important; }
  .visible-tablet {
    display: none !important; }
  .hidden-desktop {
    display: none !important; }
  .visible-desktop {
    display: inherit !important; }
  @media (min-width: 768px) and (max-width: 979px) {
    .hidden-desktop {
      display: inherit !important; }
    .visible-desktop {
      display: none !important; }
    .visible-tablet {
      display: inherit !important; }
    .hidden-tablet {
      display: none !important; } }
  @media (max-width: 767px) {
    .hidden-desktop {
      display: inherit !important; }
    .visible-desktop {
      display: none !important; }
    .visible-phone {
      display: inherit !important; }
    .hidden-phone {
      display: none !important; } }
  .visible-print {
    display: none !important; }
  @media print {
    .visible-print {
      display: inherit !important; }
    .hidden-print {
      display: none !important; } }
  .clearfix {
    *zoom: 1; }
    .clearfix:before, .clearfix:after {
      display: table;
      content: "";
      line-height: 0; }
    .clearfix:after {
      clear: both; }
  .hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0; }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  @media (min-width: 1200px) {
    .row {
      margin-left: -30px;
      *zoom: 1; }
      .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0; }
      .row:after {
        clear: both; }
    [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: 30px; }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
      width: 1170px; }
    .span4 {
      width: 370px; }
    .span8 {
      width: 770px; }
    .span12 {
      width: 1170px; }
    .row-fluid {
      width: 100%;
      *zoom: 1; }
      .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0; }
      .row-fluid:after {
        clear: both; }
      .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 32px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.5641%;
        *margin-left: 2.51091%; }
      .row-fluid [class*="span"]:first-child {
        margin-left: 0; }
      .row-fluid .controls-row [class*="span"] + [class*="span"] {
        margin-left: 2.5641%; }
      .row-fluid .span4 {
        width: 31.62393%;
        *width: 31.57074%; }
      .row-fluid .span8 {
        width: 65.81197%;
        *width: 65.75877%; }
      .row-fluid .span12 {
        width: 100%;
        *width: 99.94681%; }
    }
  @media (min-width: 768px) and (max-width: 979px) {
    .row {
      margin-left: -20px;
      *zoom: 1; }
      .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0; }
      .row:after {
        clear: both; }
    [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: 20px; }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
      width: 724px; }
    .span4 {
      width: 228px; }
    .span8 {
      width: 476px; }
    .span12 {
      width: 724px; }
    .row-fluid {
      width: 100%;
      *zoom: 1; }
      .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0; }
      .row-fluid:after {
        clear: both; }
      .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 32px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.76243%;
        *margin-left: 2.70924%; }
      .row-fluid [class*="span"]:first-child {
        margin-left: 0; }
      .row-fluid .controls-row [class*="span"] + [class*="span"] {
        margin-left: 2.76243%; }
      .row-fluid .span4 {
        width: 31.49171%;
        *width: 31.43852%; }
      .row-fluid .span8 {
        width: 65.74586%;
        *width: 65.69266%; }
      .row-fluid .span12 {
        width: 100%;
        *width: 99.94681%; }
     }
  @media (max-width: 767px) {
    body {
      padding-left: 20px;
      padding-right: 20px; }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
      margin-left: -20px;
      margin-right: -20px; }
    .container-fluid {
      padding: 0; }
    .dl-horizontal dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left; }
    .dl-horizontal dd {
      margin-left: 0; }
    .container {
      width: auto; }
    .row-fluid {
      width: 100%; }
    .row,
    .thumbnails {
      margin-left: 0; }
    .thumbnails > li {
      float: none;
      margin-left: 0; }
    [class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid [class*="span"] {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .span12,
    .row-fluid .span12 {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .row-fluid [class*="offset"]:first-child {
      margin-left: 0; }
    .input-large,
    .input-xlarge,
    .input-xxlarge,
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input {
      display: block;
      width: 100%;
      min-height: 32px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .input-prepend input,
    .input-append input,
    .input-prepend input[class*="span"],
    .input-append input[class*="span"] {
      display: inline-block;
      width: auto; }
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: 0; }
    .modal {
      position: fixed;
      top: 20px;
      left: 20px;
      right: 20px;
      width: auto;
      margin: 0; }
      .modal.fade {
        top: -100px; }
      .modal.fade.in {
        top: 20px; } }
  @media (max-width: 480px) {
    .nav-collapse {
      -webkit-transform: translate3d(0, 0, 0); }
    .page-header h1 small {
      display: block;
      line-height: 22px; }
    input[type="checkbox"],
    input[type="radio"] {
      border: 1px solid #ccc; }
    .form-horizontal .control-label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left; }
    .form-horizontal .controls {
      margin-left: 0; }
    .form-horizontal .control-list {
      padding-top: 0; }
    .form-horizontal .form-actions {
      padding-left: 10px;
      padding-right: 10px; }
    .media .pull-left,
    .media .pull-right {
      float: none;
      display: block;
      margin-bottom: 10px; }
    .media-object {
      margin-right: 0;
      margin-left: 0; }
    .modal {
      top: 10px;
      left: 10px;
      right: 10px; }
    .modal-header .close {
      padding: 10px;
      margin: -10px; }
    .carousel-caption {
      position: static; } }
  @media (max-width: 979px) {
    body {
      padding-top: 0; }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
      position: static; }
    .navbar-fixed-top {
      margin-bottom: 22px; }
    .navbar-fixed-bottom {
      margin-top: 22px; }
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
      padding: 5px; }
    .navbar .container {
      width: auto;
      padding: 0; }
    .navbar .brand {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 0 0 -5px; }
    .nav-collapse {
      clear: both; }
    .nav-collapse .nav {
      float: none;
      margin: 0 0 11px; }
    .nav-collapse .nav > li {
      float: none; }
    .nav-collapse .nav > li > a {
      margin-bottom: 2px; }
    .nav-collapse .nav > .divider-vertical {
      display: none; }
    .nav-collapse .nav .nav-header {
      color: #777777;
      text-shadow: none; }
    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
      padding: 9px 15px;
      font-weight: bold;
      color: #777777;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    .nav-collapse .btn {
      padding: 4px 10px 4px;
      font-weight: normal;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .nav-collapse .dropdown-menu li + li a {
      margin-bottom: 2px; }
    .nav-collapse .nav > li > a:hover,
    .nav-collapse .nav > li > a:focus,
    .nav-collapse .dropdown-menu a:hover,
    .nav-collapse .dropdown-menu a:focus {
      background-color: #f2f2f2; }
    .navbar-inverse .nav-collapse .nav > li > a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
      color: #999999; }
    .navbar-inverse .nav-collapse .nav > li > a:hover,
    .navbar-inverse .nav-collapse .nav > li > a:focus,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:focus {
      background-color: #111111; }
    .nav-collapse.in .btn-group {
      margin-top: 5px;
      padding: 0; }
    .nav-collapse .dropdown-menu {
      position: static;
      top: auto;
      left: auto;
      float: none;
      display: none;
      max-width: none;
      margin: 0 15px;
      padding: 0;
      background-color: transparent;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .nav-collapse .open > .dropdown-menu {
      display: block; }
    .nav-collapse .dropdown-menu:before,
    .nav-collapse .dropdown-menu:after {
      display: none; }
    .nav-collapse .dropdown-menu .divider {
      display: none; }
    .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
      display: none; }
    .nav-collapse .navbar-form,
    .nav-collapse .navbar-search {
      float: none;
      padding: 11px 15px;
      margin: 11px 0;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }
    .navbar-inverse .nav-collapse .navbar-form,
    .navbar-inverse .nav-collapse .navbar-search {
      border-top-color: #111111;
      border-bottom-color: #111111; }
    .navbar .nav-collapse .nav.pull-right {
      float: none;
      margin-left: 0; }
    .nav-collapse,
    .nav-collapse.collapse {
      overflow: hidden;
      height: 0; }
    .navbar .btn-navbar {
      display: block; }
    .navbar-static .navbar-inner {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 980px) {
    .nav-collapse.collapse {
      height: auto !important;
      overflow: visible !important; } }
  