{% block page %}

  {% assign page_title = 'Lists' %}
  {% assign theme = false %}

  {% include 'header' %}

  <div class="page-content">

    <div class="layout layout-constrained">

      <div class="content content-main">

        <h1>Lists</h1>

        <p>Custom list patterns.</p>

        <h2>.iconlist</h2>
        <!-- Note: Worth being aware that this method of visually hidden only works if the whole list is in included or unincluded… if this isn't the case, a different method will be needed -->
        <div class="iconlist">
          <h4 class="visuallyhidden">Include these</h4>
          <ul class="iconlist__list">
            <li><span class="ico ico-check"></span> Lorem ipsum Lorem ipsum dolor sit amet.</li>
            <li><span class="ico ico-check"></span> Dolor sit ametsadip</li>
            <li><span class="ico ico-check"></span> Ipsum loremamet</li>
            <li><span class="ico ico-check"></span> Dolor sit ametsadip</li>
            <li><span class="ico ico-check"></span> Ipsum loremamet</li>
          </ul>
        </div>

        <div class="iconlist">
          <h4 class="visuallyhidden">Don't include these</h4>
          <ul class="iconlist__list">
            <li><span class="ico ico-cancel"></span> Lorem ipsum Lorem ipsum dolor sit amet.</li>
            <li><span class="ico ico-cancel"></span> Dolor sit ametsadip</li>
            <li><span class="ico ico-cancel"></span> Ipsum loremamet</li>
            <li><span class="ico ico-cancel"></span> Dolor sit ametsadip</li>
            <li><span class="ico ico-cancel"></span> Ipsum loremamet</li>
          </ul>
        </div>

        <h2>.linklist</h2>

        <p>Unstyled list of links (useful for nav, etc.)</p>

        <ul class="linklist">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>

      </div><!--/content-->

    </div>

  </div><!--page-content-->

  {% include 'footer' %}

{% endblock %}
