{{> chrome/header.v2}}

<!--START Portlet -->
<!--START Portlet -->
<!--START Portlet -->

<h1>
	Online services
</h1>
<p class="lead">
	We're making online services easier and quicker to use. More services will be available here in the future.
</p>

{{# tags.type.lead }}

	{{> tags/type/lead }}

{{/ tags.type.lead }}

<div class="services">
	
	<div class="half">
		<div class="panel panel--tile" data-mh="half">
			<h2>
				Parking permits
			</h2>
			<p>
				Apply or renew online for St Paul's residents parking permits. Find information on costs, restrictions and where you can park.
			</p>

			<ul>
				<li>
					<a href="#">
						Get residents or visitors parking permits
					</a>
				</li>
				<li>
					<a href="#"> 
						Renew a residents parking permit
					</a>
				</li>
			</ul>
		</div>
	</div>


	<div class="half">
		<div class="panel panel--tile" data-mh="half">
			<h2>
				Older persons bus pass
			</h2>
			<p>
				Apply for an older person's bus pass. Find information on pass renewals, replacements and companion cards.
			</p>
			<ul>
				<li>
					<a href="#">
						Apply for an older person's bus pass
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="half">
		<div class="panel panel--tile" data-mh="half">
			<h2>
				Complaints and feedback
			</h2>
			<p>
				Use the online forms to make a complaint or give feedback about Bristol City Council.
			</p>
			<ul>
				<li>
					<a href="">
						Make a complaint or give feedback
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="half">
		<div class="panel panel--tile" data-mh="half">
			<h2>
				Freedom of information
			</h2>
			<p>
				Make a request to see any information we hold on paper or as computer files.
			</p>
			<ul>
				<li>
					<a href="#">
						Submit a freedom of information request
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="half">
		<div class="panel panel--tile" data-mh="half">
			<h2>
				Births and deaths
			</h2>
			<p>
				Book an appointment online to register a birth or death at a register office in Bristol.
			</p>
			<ul>
				<li>
					<a href="#">
						Book to register a birth
					</a>
				</li>
				<li>
					<a href="#">
						Book to register a death
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>



<div class="services services--info">
	<div class="slab">
		<div class="half">
			<h2 class="slab__title">
				Looking for another service?
			</h2>
			<p>
				If you are looking for one of our existing online services, you may need to use the <a href="http://www.bristol.gov.uk/">bristol.gov.uk</a> website.
			</p>
		</div>
		<div class="half divider">
			<p>
				As part of the ongoing work, the new services that we are looking to release soon are:
			</p>
			<ul>
				<li>Registering births and deaths</li>
				<li>Paying for council tax</li>
			</ul>
		</div>
	</div>
</div>


<div class="panel panel--feedback">
	<h2 class="panel__title">
		Give feedback on this new online service
	</h2>
	<div class="panel__copy">
		<p>
			<a href="https://www.bristol.gov.uk/node/24282" target="_blank">Give feedback</a> <small>[opens new window]</small> and help improve this service.
			<br>
			It only takes a minute and you won't lose any details.
		</p>
	</div>
</div>

{{> chrome/footer.v2}}

<!--END Portlet -->
<!--END Portlet -->
<!--END Portlet -->