{{> chrome/header.v2}}

<section class="pl">
	<h1 class="pl__title">
		<a href="/boilerplate" class="icon icon-bookmark icon--large"></a>
		IAG
	</h1>

	<p class="lead">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mauris ac sapien lacinia.
	</p>
	
	<!--  START iag -->
	<div class="iag_content">
		
		<div class="page-contents js-sticky" role="navigation">
			<div class="page-contents__inner">
				<p class="page-contents__title">
					Page contents
				</p>
				<div class="page-contents__list-wrapper">
					<ul class="page-contents__list">
						<li>
							<a href="#section-1">
								Section 1 testing
							</a>
						</li>
						<li>
							<a href="#section-2">
								Section with very very long title text for testing
							</a>
						</li>
						<li>
							<a href="#section-3">
								Section 3 testing
							</a>
						</li>
						<li>
							<a href="#section-4">
								Section 4 testing
							</a>
						</li>
						<li>
							<a href="#section-5">
								Section 5 testing
							</a>
						</li>
						
						<li>
							<a href="#section-6">
								Testing 6
							</a>
						</li>
						<li>
							<a href="#section-7">
								Testing 7
							</a>
						</li>
						
						<li>
							<a href="#section-8">
								Testing 8
							</a>
						</li>
						
						<li>
							<a href="#section-9">
								Testing 9
							</a>
						</li>
						
						<li>
							<a href="#section-10">
								Testing 10
							</a>
						</li>
						
						<li>
							<a href="#section-11">
								Testing 11
							</a>
						</li>
						<li>
							<a href="#section-12">
								Testing 12
							</a>
						</li>
						
						<li>
							<a href="#section-13">
								Testing 13
							</a>
						</li>
						<li>
							<a href="#section-14">
								Testing 14
							</a>
						</li>
						
						<li>
							<a href="#section-15">
								Testing 15
							</a>
						</li>
						
						<li>
							<a href="#section-16">
								Testing 16
							</a>
						</li>
						
						<li>
							<a href="#section-17">
								Testing 17
							</a>
						</li>
						
						<li>
							<a href="#section-18">
								Testing 18
							</a>
						</li>
						
						<li>
							<a href="#section-19">
								Testing 19
							</a>
						</li>
						
						<li>
							<a href="#section-20">
								Testing 20
							</a>
						</li>
						<!-- 
						 -->
					</ul>
						
				</div>
			</div>
		</div>

		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-1">Section 1</a>
				<h2>
					Section 1 title
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
			<ul>
				<li>You can't order bins or boxes</li>
				<li>If they contained an item we do not collect</li>
				<li>If they were not out by 7am</li>
				<li>If they were not visible from the road</li>
				<li><a href="#">You can't order bins or boxes</a></li>
				<li>If they contained an item we do not collect</li>
				<li>If they were not out by 7am</li>
				<li>If they were not visible from the road</li>
			</ul>

			<div class="panel">
				<h4 class="panel__title">
					Small high priority warning
				</h4>
				<div class="panel__copy">
					<p>
						This is a small high priority warning. Eg. it might talk
						about your legal obligations or that kind of thing.
					</p>
				</div>
			</div>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-2">Section 2</a>
				<h2>
					Section 2 title
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-3">Section 3</a>
				<h2>
					Section 3 title
				</h2>
			</header>
			
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-4">Section 4</a>
				<h2>
					Section 4 title
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
			
		</section>
		<!-- END <section>-->

		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-5">Section 5</a>
				<h2>
					Section 5 title
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-6">Testing 6</a>
				<h2>
					Testing 6
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-7">Testing 7</a>
				<h2>
					Testing 7
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-8">Testing 8</a>
				<h2>
					Testing 8
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-9">Testing 9</a>
				<h2>
					Testing 9
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-10">Testing 10</a>
				<h2>
					Testing 10
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-11">Testing 11</a>
				<h2>
					Testing 11
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-12">Testing 12</a>
				<h2>
					Testing 12
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-13">Testing 13</a>
				<h2>
					Testing 13
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-14">Testing 14</a>
				<h2>
					Testing 14
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-15">Testing 15</a>
				<h2>
					Testing 15
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-16">Testing 16</a>
				<h2>
					Testing 16
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-17">Testing 17</a>
				<h2>
					Testing 17
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-18">Testing 18</a>
				<h2>
					Testing 18
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-19">Testing 19</a>
				<h2>
					Testing 19
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->
		
		<!-- START <section>-->
		<section>
			<header>
				<a class="visuallyhidden" id="section-20">Testing 20</a>
				<h2>
					Testing 20
				</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				vitae mauris ac sapien lacinia vehicula consectetur sit amet
				turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit
				lacus blandit. Praesent et sagittis ante. Morbi gravida, eros
				vel varius consequat, mauris odio aliquam nibh, sit amet auctor
				leo enim quis ante.
			</p>
		</section>
		<!-- END <section>-->

	</div>	
	<!--  END iag -->
		
	

</section>

{{> chrome/footer.v2}}