{{> chrome/header.v2}}

<h2>
	Layouts / Templates
</h2>

<ul>
	<li>
		<a class="light" href="/layouts/home">Home</a> <span class="light">|</span> 
		<a class="light" href="/layouts/thanks">Thanks</a> <span class="light">|</span> 
		<a class="light" href="/layouts/leadin">Leadin</a> <span class="light">|</span> 
		<a class="light" href="/layouts/routing">Routing</a> <span class="light">|</span> 
		<a class="light" href="/layouts/listing">Listing</a>
	</li>
	<li>
		<a href="/layouts/iag">IAG</a>
	</li>
</ul>

{{> chrome/footer.v2}}
