{{> chrome/header.v2}}

<!--START Layout -->
<div class="bcc_2col1col_alt alternative" id="main-content" role="main" tabindex="-1">
	<div class="portlet-layout row-fluid">
		<div class="portlet-column portlet-column-first span8 priority--secondary" id="column-1">		
			<!--START Portlet -->
			<!--START Portlet -->
			<!--START Portlet -->
			
			{{# pages.layouts}}

			{{# h1}}
				<h1>{{h1}}</h1>
			{{/ h1}}

			{{# lead }}
				{{> tags/type/lead }}
			{{/ lead }}

			<ul>
				<li>
					<a href="">
						Report a missed bin collection
					</a>
				</li>
				<li>
					<a href="">
						Order a new bin
					</a>
				</li>
				<li>
					<a href="">
						Report fly tipping
					</a>
				</li>
				<li>
					<a href="">
						Other bins, recycling and litter issues
					</a>
				</li>
			</ul>

			<h2>
				If you would still like to make a complaint or give feedyback:
			</h2>
			
			<div>
				<p>
					tbc
				</p>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mauris ac sapien lacinia vehicula consectetur sit amet turpis. Sed accumsan nunc lacinia justo ullamcorper eu hendrerit lacus blandit. Praesent et sagittis ante.
			</p>
			
			<hr />

			{{/ pages.layouts}}

			<!--END Portlet -->
			<!--END Portlet -->
			<!--END Portlet -->
		</div>
		<div class="portlet-column portlet-column-last span4 side priority--primary" id="column-2">
			<!--START Portlet -->
			<!--START Portlet -->
			<!--START Portlet -->



			<!--END Portlet -->
			<!--END Portlet -->
			<!--END Portlet -->
		</div>
	</div>
</div>
<!--END Layout -->

{{> chrome/footer.v2}}