{{> chrome/header}}

<h1 class="pl__title">
	Example
</h1>
<hr class="pl__rule" />


<ul>
	<li>
		<strong>Project</strong>
		<br />
		<a target="_blank" href="/example/project/mugs/home">Home</a> <span class="light">|</span> 
		<a target="_blank" href="/example/project/mugs/leadin">Leadin</a> <span class="light">|</span> 
		<a target="_blank" href="/example/project/mugs/custom-a">Custom A</a> <span class="light">|</span> 
		<a target="_blank" href="/example/project/mugs/custom-b">Custom B</a> <span class="light">|</span>
		<a target="_blank" href="/example/project/mugs/thanks">Thanks</a>
	</li>
</ul>

{{> chrome/footer}}